


<div class="single_consent ds-single-consent" consent_id="{{consent.id}}">
  <label class="form-label">{{ consent.label }}</label>
  <p>{{ consent.text|safe }}</p>
  <div class="form-check mt-2">
    <label class="form-check-label consent {% if consent.required %}required{% endif %}" for="{{ consent.field_name }}">
      {{ consent.checkbox_label }}{% if consent.required %}<span class="ds-required" arial-label="required"></span>{% endif %}
    </label>
    <input id="{{ consent.field_name }}" name="{{ consent.field_name }}" value="" type="checkbox"
           class="form-check-input consent"
           {# onclick="document.getElementById('modal-{{consent.field_name}}').checked=this.checked" #}
           {% if consent.required %}required{% endif %}
           data-parsley-required-message="{{ _('Please accept this policy.') }}" />
  </div>
</div>
