<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main-landing.css') }}">
</head>

<body>

<main id="main-content">
{% block content %}{% endblock %}
</main>

</body>
</html>
