<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex,nofollow">
  <title>{{ g.site.name }}</title>
  <meta property="og:type" content="website" />
  {% if opengraph -%}
  <meta property="og:site_name" content="{{ g.site.name }}" />
  <meta property="og:title" content="{{ opengraph['title'] }}" />
  {% endif -%}
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>

  <script src="{{ url_for('static', filename='vendor/popperjs/core/dist/umd/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/dist/js/bootstrap.js') }}"></script>

  <script src="{{ url_for('static', filename='vendor/parsley/parsley.min.js') }}"></script>
  <script src="/static/vendor/parsley/i18n/{{ g.language }}.js"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main-login.css') }}">
</head>

<body>

  <div class="ds-all-center">
    <main id="main-content">
    {% block content %}{% endblock %}
    </main>
    {% include 'footer.html' %}
  </div>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <!-- Messages -->
      <div class="ds-alert">
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible d-flex justify-content-between align-items-center flash_message" role="alert">
            {{ message | safe }}
            <button type="button" data-bs-dismiss="alert" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

</body>
</html>
