<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% if no_bot == True %}
  <meta name="robots" content="noindex">
  {% endif %}
  {% if 'site' in g and g.site %}
  <title>{{ g.site.name }}</title>
  <meta property="og:type" content="website" />
    {% if opengraph -%}
    <meta property="og:site_name" content="{{ g.site.name }}" />
    <meta property="og:title" content="{{ opengraph['title'] }}" />
    <meta property="og:url" content="{{ opengraph['url'] }}" />
    <meta property="og:description" content="{{ opengraph['description'] }}" />
    <meta property="og:image" content="{{ opengraph['image'] }}" />
    {% else -%}
    <meta property="og:title" content="{{ g.site.name }}" />
    <meta property="og:url" content="{{ config['BASE_URL'] }}" />
    <meta property="og:image" content="{{ g.site.get_logo_uri() }}" />
    <meta property="og:description" content="{{ g.site.get_short_description() }}" />
    {% endif -%}
  {% endif %}
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/jquery/jquery-ui.min.js') }}"></script>

  <script src="{{ url_for('static', filename='vendor/popperjs/core/dist/umd/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/dist/js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/feather-icons/dist/feather.js') }}"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main-landing.css') }}">
  <style type="text/css">
    .ds-color-primary-level,
    .ds-color-primary-level:hover,
    .ds-color-primary-level:active,
    .ds-color-primary-level:focus,
    .ds-color-primary-level.btn {
      color: {{ g.site.theme['navbar']['font_color'] }};
    }
  </style>
</head>

<body style="background-color: var(--lf-gray-100)">

  {% if navbar != False %}
  <header class="fixed-top px-2 px-xl-4 py-1 ds-main-navbar" style="background-color: {{ g.site.theme['primary_color'] }}">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand ds-color-primary-level" href="/" aria-label="{{ _('Go to home page') }}">
        <img src="/favicon.ico" height="38"/>
        <span class="ds-nav-site-name">{{ g.site.name }}</span>
      </a>
      <button class="d-lg-none ds-color-primary-level" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu" aria-hidden="true"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
      </button>
      <div class="collapse navbar-collapse justify-content-end pt-3 pt-lg-0" id="mainNavbar">
        <div class="navbar-nav gap-2">
          {% if current_user.is_authenticated %}
            {% if current_user.is_validated %}
              <a href="{{url_for('form_bp.my_forms')}}" class="ds-color-primary-level ds-link-to-panel">{{ current_user.username }} <i data-feather="arrow-right" aria-hidden="true" height="16"></i></a>
              {% else %}
              <a href="{{url_for('user_bp.validate_to_continue')}}" class="ds-color-primary-level">{{ _("Profile settings") }}</a>
              <a href="{{url_for('user_bp.logout')}}" class="ds-color-primary-level">{{ _("Logout") }}</a>
            {% endif %}
          {% else %}
            {% if not g.site.invitation_only %}
              <a href="{{url_for('user_bp.create_new_user')}}" class="ds-color-primary-level">
                {{ _("Create an account") }}
              </a>
            {% endif %}
            <a href="{{url_for('user_bp.login')}}" class="ds-color-primary-level">
              {# i18n: Button to log in #}
              {{ _("Login") }}
            </a>
          {% endif %}
        </div>
      </div>
    </nav>
  </header>
  {% endif %}

  <div class="container-fluid ds-main-wrapper">
    <main id="main-content">
      {% block content %}{% endblock %}
    </main>
  </div>

  {% include 'footer.html' %}

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <!-- Messages -->
      <div class="ds-alert">
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible d-flex justify-content-between align-items-center flash_message" role="alert">
            {{ message | safe }}
            <button type="button" data-bs-dismiss="alert" aria-label="Close"><i data-feather="x" width="32" height="32" stroke-width="1" aria-hidden="true"></i></button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <script>
    const csrftoken = "{{ csrf_token() }}";
    /* Feather icons */
    feather.replace();
  </script>

</body>
</html>
