<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex">
  <title>{{ g.site.name }}</title>
  <meta property="og:type" content="website" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/jquery/jquery-ui.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/popperjs/core/dist/umd/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/dist/js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/feather-icons/dist/feather.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/parsley/parsley.min.js') }}"></script>
  <script src="/static/vendor/parsley/i18n/{{ g.language }}.js"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main-backend.css') }}">

  <style type="text/css">
    :root {
      --lf-body-font-size: var(--lf-small-font-size);
    }
    .card,
    .ds-wrapper-white {
      border-top-color: {{ g.site.theme['primary_color'] }};
    }
    .ds-color-primary-level,
    .ds-color-primary-level:hover,
    .ds-color-primary-level:active,
    .ds-color-primary-level:focus,
    .ds-color-primary-level.btn.show {
      color: {{ g.site.theme['navbar']['font_color'] }};
    }
  </style>
</head>

<body class="ds-backend {% if current_user.preferences['collapsed_nav_menu'] %}ds-collapse-sidebar{% endif %}">
  <header class="fixed-top px-2 px-xl-4 py-1 ds-main-navbar" style="background-color: {{ g.site.theme['primary_color'] }};">
    <nav class="d-flex align-items-center justify-content-between">
      <a class="navbar-brand ds-color-primary-level" href="/" aria-label="{{ _('Go to home page') }}">
        <img src="/favicon.ico" height="38"/>
        <span class="ds-nav-site-name">{{ g.site.name }}</span>
      </a>
      <div class="ds-container-menus d-flex gap-3 align-items-center">
        <!-- Alerts -->
        {% if current_user.is_validated %}{% include('user/alerts/alerts.html') %}{% endif %}
        <!-- Inline help -->
        <div id="inline_help_nav_item" class="ds-item">
          <a onclick="javascript:toggleInlineHelp()" href="#" role="button" id="help_button" aria-expanded="false" class="ds-color-primary-level">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle ds-show-help" aria-hidden="true"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle ds-hide-help" aria-hidden="true"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
          </a>
        </div>
        <!-- Resources menu -->
        {% if g.site.resources_menu["enabled"] %}{% include('site/partials/resources-menu.html') %}{% endif %}
        <!-- Profile menu -->
        <div id="profile_nav_item" class="dropdown ds-item">
          <button class="dropdown-toggle btn ds-color-primary-level" href="#" role="button" id="dropdownMenuProfile" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="ds-avatar"><img src="{{current_user.get_avatar_src()}}" alt="" class="rounded-circle" /></span>
            <span class="ds-username ds-name">{{ current_user.username }}</span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuProfile" role="navigation">
            <li>
              <a class="dropdown-item" href="{{url_for('user_bp.user_settings', username=current_user.username)}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings" aria-hidden="true"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>
                {# i18n: Links to user's settings page #}
                {{ _("Profile settings") }}
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="/user/logout">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out" aria-hidden="true"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                {{ _("Log out") }}
              </a>
            </li>
          </ul>
        </div>
        <!-- Button display main menu mobile -->
        <div class="d-xl-none ds-item">
          <button class="btn ds-color-primary-level" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMainMenu" aria-controls="" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu" aria-hidden="true"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
          </button>
        </div>
      </div>
    </nav>
  </header>

  <div class="ds-main-wrapper">
    <div class="offcanvas-xl offcanvas-start" tabindex="-1" id="offcanvasMainMenu" aria-labelledby="offcanvasMainMenu">
      <button type="button" class=" d-xl-none text-end" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasMainMenu" aria-label="Close"><i data-feather="x" width="32" height="32" stroke-width="1" aria-hidden="true"></i></button>
      <aside class="p-4 ds-main-sidebar">
        <!-- Main menu -->
        <nav id="ds-main-menu" class="ds-menu">
          <strong class="ds-title-menu">{{ _("Navigation") }}</strong>
          <ul class="list-unstyled">
            <li {% if g.highlighted_nav_item == "/forms" or g.highlighted_nav_item == "/answers"%}class="active"{% endif %}>
              <a class="ds-link-contain-icon" href="/forms">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag" aria-hidden="true"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg>
                {# i18n: Links to user's forms page #}
                <span>{{ _("My forms") }}</span>
              </a>
            </li>
            {% if current_user.is_guest() %}
            <li>
              <a class="ds-link-contain-icon" href="#" data-bs-toggle="modal" data-bs-target="#guest-help-modal">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-plus" aria-hidden="true"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="12" y1="18" x2="12" y2="12"></line><line x1="9" y1="15" x2="15" y2="15"></line></svg>
                <span>{{ _("New form") }}</span>
              </a>
            </li>
            {% endif %}
            {% if current_user.is_editor() %}
            <li {% if g.highlighted_nav_item == "/form/new" %}class="active"{% endif %}>
              <a class="ds-link-contain-icon" href="/form/new">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-plus" aria-hidden="true"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="12" y1="18" x2="12" y2="12"></line><line x1="9" y1="15" x2="15" y2="15"></line></svg>
                <span>{{ _("New form") }}</span>
              </a>
            </li>
            {% if current_user.uploads_enabled %}
            <li {% if g.highlighted_nav_item == "/media" %}class="active"{% endif %}>
              <a class="ds-link-contain-icon" href="{{url_for('media_bp.list_user_media')}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image" aria-hidden="true"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>
                <span>{{ _("Media") }}</span>
              </a>
            </li>
            {% endif %}
            <li {% if g.highlighted_nav_item == "/user/data-consent" %}class="active"{% endif %}>
              <a class="ds-link-contain-icon" href="{{url_for('consent_bp.list_user_data_consents')}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
                {# i18n: Links to data consent page #}
                <span>{{ _("Privacy") }}</span>
              </a>
            </li>
            <li {% if g.highlighted_nav_item == "/user/statistics" %}class="active"{% endif %}>
              <a class="ds-link-contain-icon" href="/user/statistics">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                {# i18n: Links to statistics page #}
                <span>{{ _("Statistics") }}</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
        {% if current_user.enabled %}
          {% if g.is_admin %}
          <!-- Admin menu -->
          <nav id="ds-admin-menu" class="ds-menu mt-4">
            <strong class="ds-title-menu">{{ _("Admin") }}</strong>
            <ul class="list-unstyled">
              <li {% if g.highlighted_nav_item == "/admin/forms"%}class="active"{% endif %}>
                <a class="ds-link-contain-icon" href="{{url_for('admin_bp.list_forms')}}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text" aria-hidden="true"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                  <span>{{ _("Forms") }}</span>
                </a>
              </li>
              <li {% if g.highlighted_nav_item == "/admin/users" %}class="active"{% endif %}>
                <a class="ds-link-contain-icon" href="{{url_for('admin_bp.list_users')}}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users" aria-hidden="true"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                  <span>{{ _("Users") }}</span>
                </a>
              </li>
              <li {% if g.highlighted_nav_item == "/site/stats" %}class="active"{% endif %}>
                <a class="ds-link-contain-icon" href="{{url_for('site_bp.stats')}}">
                  {# i18n: Links to global site statistics page #}
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart" aria-hidden="true"><line x1="12" y1="20" x2="12" y2="10"></line><line x1="18" y1="20" x2="18" y2="4"></line><line x1="6" y1="20" x2="6" y2="16"></line></svg>
                  <span>{{ _("Statistics") }}</span>
                </a>
              </li>
              <li {% if g.highlighted_nav_item == "/server/logs" %}class="active"{% endif %}>
                <a class="ds-link-contain-icon" href="{{url_for('site_bp.server_logs')}}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
                  <span>{{ _("Activity") }}</span>
                </a>
              </li>
              <li {% if g.highlighted_nav_item == "/admin" %}class="active"{% endif %}>
                <a class="ds-link-contain-icon" href="{{url_for('admin_bp.admin_panel')}}">
                  {# i18n: Only for admin. Links to instance configuration page #}
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings" aria-hidden="true"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>
                  <span>{{ _("Configuration") }}</span>
                </a>
              </li>
            </ul>
          </nav>
          {% endif %}
        {% endif %}
        <button id="ds-collapse-button" class="" role="button" arial-expanded="true">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left" aria-hidden="true"><polyline points="15 18 9 12 15 6"></polyline></svg>
          <small>{{ _("Collapse menu") }}</small>
        </button>
      </aside>
    </div>

    <div class="px-2 px-xl-4 pt-1 ds-main-content">
      <main id="main-content">
      {% block content %}{% endblock %}
      </main>
      {% include 'footer.html' %}
    </div>

  </div>

  {% set flash_messages = get_flashed_messages(with_categories=true) %}
  {% if flash_messages %}
  <div id="flash_container" class="flash-message ds-alert">
    <!-- Messages -->
    {% for category, message in flash_messages %}
      {% include('common/flash-message.html') %}
    {% endfor %}
  </div>
  {% endif %}

  {% if current_user.is_guest() %}
  <!-- guest_user_modal -->
  <div class="modal fade" id="guest-help-modal" tabindex="-1" aria-labelledby="guest-help-modal-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="guest-help-modal-label">{{ _("Hello %(username)s", username=current_user.username) }}</h5>
          <button type="button" data-bs-dismiss="modal" aria-label="Close">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
          </button>
        </div>
        <div class="modal-body">
          <p class="mt-2">
            {% set inviter = current_user.invited_by() %}
            {% if inviter %}
            {{ _("You were invited to %(site_name)s by %(user_email)s", site_name=g.site.name, user_email=inviter.email) }}
            {% endif %}
          </p>
          <p>{{ _("If you wish to create forms on this site, let us know.") }}</p>
          <p class="mb-2">{{ g.site.get_contact_info()|safe }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _("Close") }}</button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

<script>
  /* CSRF token */
  const csrftoken = "{{ csrf_token() }}";
  /* Feather icons */
  feather.replace();
  /* Collapse sidebar */
  var dsCollapseSidebar = document.getElementById('ds-collapse-button');
  var dsBodySelect = document.getElementsByTagName('body')[0];
  dsCollapseSidebar.addEventListener('click', function() {
      dsBodySelect.classList.toggle('ds-collapse-sidebar');
      $.ajax({
        url : "{{ url_for('user_bp.toggle_collapsed_nav_menu') }}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
          }
        },
      });
    }
  );

  $('#flash_container').delay(5000).hide(0);
  $('#flash_container').mouseover(function() {
    $(this).stop(true, true, false);
  });

  function toggleInlineHelp(file_name) {
    if (typeof _inline_help_toggle === "function") {
      _inline_help_toggle(file_name);
    } else {
      $.getScript("{{ url_for('static', filename='js/inline_help.js') }}", function(_script, textStatus, jqxhr) {
        $($('script').append(_script)).insertAfter("#main-content")
        let template = inline_help_template.replace(/%Go_back%/, "{{ _('Go back') }}")
        $(template).insertBefore("#main-content")
        _inline_help_toggle(file_name);
      });
    }
  }
</script>

</body>
</html>
