

{% if navbar is defined and navbar == False %}

  <footer id="footer" class="text-center py-4">
    <p><small><a href="{{config["BASE_URL"]}}" rel="noopener noreferrer">{{g.site.name}}</a></small></p>
  </footer>

{% else %}

  {% if g.language in ['en', 'es', 'eu', 'eo', 'ca'] %}
  {% set lang = g.language %}
  {% else %}
  {% set lang = "en" %}
  {% endif %}
  <footer id="footer" class="text-center py-4">
    <p class="mb-0">
      <small>
        <a href="https://liberaforms.org/{{ lang }}" target="_blank" rel="noopener noreferrer">LiberaForms</a>
        {% if current_user.is_authenticated %}
          {# 'v' is Version #}
          {{ _("v%(version_number)s", version_number=g.site.app_version()) }}
        {% endif %}
      </small>
      <small>AGPLv3</small>
      {% if current_user.is_authenticated and config['ENABLE_RSS_FEED'] %}
        <small><a href="/feed/rss" alt_text="RSS feed">RSS</a></small>
      {% endif %}
    </p>
  </footer>

{% endif %}
