{% extends "base-backend.html" %}
{% block content %}

<!-- wizard_settings_page -->

<div class="ds-narrow-container">

  <div class="grid ds-header-title">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{ url_for('admin_bp.admin_panel', goto='data-protection')}}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h1>{{ _("Wizard settings") }}</h1>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <p class="mb-0">{{ _("Settings used by the wizard.") }} <a href="#" onclick="toggleInlineHelp('site_dataprotection.j2.md')">{{ _("Learn more") }}</a></p>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <div class="card">
        <div class="card-header">
          <h4>{{ _("Organization profile") }}</h4>
        </div>
        <div class="card-body">
          {# not implemented
          <div class="">
            <label class="form-label">{{ _("You are a public administration") }}</label>
            <br />
            <div id="toggle_public_administration" class="btn-group btn-toggle">
              <button id="is_public_administration_true" class="btn btn-sm {% if g.site.data_protection['is_public_administration'] %} btn-primary {% else %} btn-outline-secondary {% endif %}">{{ _("True") }}</button>
              <button id="is_public_administration_false" class="btn btn-sm {% if not g.site.data_protection['is_public_administration'] %} btn-primary {% else %} btn-outline-secondary {% endif %}">{{ _("False") }}</button>
            </div>
          </div>
          #}
          <form name="orgProfile" action="{{url_for('site_bp.save_organization_profile')}}" method="POST">
            {{ orgprofile.csrf_token }}

            <div class="form-group mt-0">
              {{ orgprofile.name.label( for="name", class_="form-label" )}}<span class="ds-required" arial-label="required"></span>
              {{ orgprofile.name(class_="form-control") }}
              <div class="error-messages">
              {% for error in orgprofile.name.errors %}
                <span class="wtf-error ds-error-message">{{ error }}</span>
              {% endfor %}
              </div>
            </div>
            <div class="form-group mt-4">
              {{ orgprofile.url.label( for="url", class_="form-label" )}}
              {{ orgprofile.url(class_="form-control") }}
              <div class="error-messages">
              {% for error in orgprofile.url.errors %}
                <span class="wtf-error ds-error-message">{{ error }}</span>
              {% endfor %}
              </div>
            </div>
            <div class="form-group mt-4">
              {{ orgprofile.tos_url.label( for="tos_url", class_="form-label" )}}
              {{ orgprofile.tos_url(class_="form-control") }}
              <div class="error-messages">
              {% for error in orgprofile.tos_url.errors %}
                <span class="wtf-error ds-error-message">{{ error }}</span>
              {% endfor %}
              </div>
            </div>
            <div class="form-group mt-4">
              {{ orgprofile.email.label( for="email", class_="form-label" )}}
              {{ orgprofile.email(class_="form-control") }}
              <div class="error-messages">
              {% for error in orgprofile.email.errors %}
                <span class="wtf-error ds-error-message">{{ error }}</span>
              {% endfor %}
              </div>
            </div>
            <div class="mt-4">
              <input class="btn btn-sm btn-primary" type="submit" value="{{ _('Save') }}">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="grid mt-4">
    <div class="g-col-12">
      <div class="card">
        <div class="card-header">
          <h4>{{ _("Share your organization profile") }}</h4>
        </div>
        <div class="card-body">
          <ul class="ds-list-group">
            <li>
              <span>{{ _("Display your profile in the wizard") }}</span>
              <div id="toggle_enforce_org" class="btn-group btn-toggle">
                <button id="enforce_org_true" class="btn btn-sm {{ 'btn-primary' if g.site.data_protection['enforce_org'] else 'btn-outline-secondary' }}">{{ _("True") }}</button>
                <button id="enforce_org_false" class="btn btn-sm {{ 'btn-outline-secondary' if g.site.data_protection['enforce_org'] else 'btn-primary' }}">{{ _("False") }}</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="grid mt-4 ds-wrapper-white">
    <div class="g-col-12">
      <form name="dataProtectionLaw" action="{{url_for('site_bp.save_data_protection_law')}}" method="POST">
        {{ lawform.csrf_token }}
        <div class="form-group">
          {{ lawform.law.label(for="data-law", class_="form-label") }}
          {{ lawform.law(id="data-law", class_="form-control") }}
          <div class="error-messages">
          {% for error in lawform.law.errors %}
            <span class="wtf-error ds-error-message">{{ error }}</span>
          {% endfor -%}
          </div>
        </div>
        <div class="mt-4">
          <input class="btn btn-sm btn-primary" type="submit" value="{{ _('Save') }}">
        </div>
      </form>
    </div>
  </div>
</div>

<script>
const inline_help_file_name = "site_dataprotection.j2.md";

$('form[name=orgProfile]').parsley().on('field:validate', function(field) {
  $(field.element).closest('.form-group').find('.wtf-error').remove()
})
$('form[name=dataProtectionLaw]').parsley().on('field:validate', function(field) {
  $(field.element).closest('.form-group').find('.wtf-error').remove()
})

document.getElementById('toggle_enforce_org')
        .addEventListener('click', function(evt){
    $.ajax({
        url : "{{url_for('site_bp.toggle_wizard_enforce_org')}}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.enforced == true) {
                $('#enforce_org_true').addClass('btn-primary')
                                      .removeClass('btn-outline-secondary');
                $('#enforce_org_false').removeClass('btn-primary')
                                       .addClass('btn-outline-secondary');
            }
            else if (data.enforced == false) {
                $('#enforce_org_true').removeClass('btn-primary')
                                      .addClass('btn-outline-secondary');
                $('#enforce_org_false').addClass('btn-primary')
                                       .removeClass('btn-outline-secondary');
            }
        }
    });
});
{# not implemented
  document.getElementById('toggle_public_administration')
          .addEventListener('click', function(evt){
      $.ajax({
          url : "{{url_for('site_bp.toggle_wizard_public_administration')}}",
          type: "POST",
          dataType: "json",
          beforeSend: function(xhr, settings) {
              if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken)
              }
          },
          success: function(data, textStatus, jqXHR)
          {
              if (data.public_administration == true) {
                  $('#is_public_administration_true').addClass('btn-primary')
                                            .removeClass('btn-outline-secondary');
                  $('#is_public_administration_false').removeClass('btn-primary')
                                             .addClass('btn-outline-secondary');
              }
              else if (data.public_administration == false) {
                  $('#is_public_administration_true').removeClass('btn-primary')
                                                     .addClass('btn-outline-secondary');
                  $('#is_public_administration_false').addClass('btn-primary')
                                                      .removeClass('btn-outline-secondary');
              }
          }
      });
  });
#}
</script>
{% endblock %}
