{% extends "base-backend.html" %}
{% block content %}

<!-- edit_mimetypes_page -->

<div class="ds-narrow-container">

  <div class="grid ds-header-title">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{ url_for('admin_bp.admin_panel', goto='file-uploads')}}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h1>{{ _("Form attachments") }}</h1>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <p class="mb-0">
        {{ _("These file types can be uploaded with the forms") }}.
      </p>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <div class="card">
        <div class="card-header">
          <h2>{{ _("Enabled file extensions") }}</h2>
        </div>
        <div class="card-body">
          <form name="mimetypesForm" method="POST">
            {{ wtform.csrf_token }}
            <div class="form-group">
              {{ wtform.extensions.label(for="extensions", class_="form-label" ) }}
              {{ wtform.extensions( class_="form-control", rows="7") }}
              <p class="mt-2 mb-0">
              {{ _("Some file types represent a security risk.") }} <a href="#" onclick="toggleInlineHelp('site_mimetypes.j2.md')">{{ _("Learn more") }}</a>
              </p>
              {% for error in wtform.extensions.errors %}
                <span class="wtf-error ds-error-message">{{ error }}</span>
              {% endfor %}
            </div>
            <div class="mt-4">
              <input class="btn btn-primary" type="submit" value="{{ _('Save') }}" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="grid mt-4">
    <div class="g-col-12">
      <div class="card">
        <div class="card-header">
          <h2>{{ _("Enabled mimetypes") }}</h2>
        </div>
        <div class="card-body">
          <ul>
            {% for mimetype in g.site.mimetypes.mimetypes %}
              <li>{{ mimetype }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
const inline_help_file_name = "site_mimetypes.j2.md";

const parsley_options = {
  errorsContainer: function (field) {
    return $(field.element).closest(".form-group")
  }
}
$("form[name=mimetypesForm]").parsley(parsley_options).on('field:validate', function(field) {
  $(field.element).closest('div').find('.wtf-error').remove()
})
</script>

{% endblock %}
