{% extends "base-backend.html" %}
{% block content %}

<!-- edit_invitation_text_page -->

<div class="ds-narrow-container">

  <div class="grid ds-header-title">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{ url_for('admin_bp.admin_panel', goto='custom-texts')}}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h1>{{ _("Invitation template") }}</h1>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <p class="mb-0">{{ _("This template can be edited when inviting a new user.") }}</p>
    </div>
  </div>

  <form name="inviteText" method="post" class="mt-3">
    <div class="grid ds-wrapper-white">
      <div class="g-col-12">
        {{ wtform.csrf_token }}
        {% if g.site.custom_languages|length > 1 %}
        <div class="mb-4">
          {{ wtform.language.label(for="language", class_="form-label") }}
          {{ wtform.language(id="language", class_="form-select", onchange="changeLanguage()") }}
        </div>
        {% else %}
          <input id="language" type="hidden" name="language" value="{{g.site.language}}" />
        {% endif %}
        <div class="">
        {{ wtform.text.label(for="template-text", class_="form-label") }}
        {{ wtform.text(id="template-text",
                       class_="form-control mw-100",
                       rows="9")}}
        {% for error in wtform.text.errors %}
          <span class="wtf-error ds-error-message">{{ error }}</span>
        {% endfor %}
        </div>

        <div class="mt-4">
          <input class="btn btn-outline-primary" type="button" onclick="showPreview()" value="{{ _('Preview') }}" />
          <input class="btn btn-primary" type="submit" value="{{ _('Save') }}" />
        </div>
      </div>
    </div>
  </form>

  <div class="grid">
    <div class="g-col-12">
      <div id="preview" class="g-col-12 mt-4 p-3 text-bg-light" style="display:none">
        <div id="preview-text"><div>
      </div>
    </div>
  </div>

</div>

<script>
const inline_help_file_name = "site_invitationtemplate.j2.md";
const placeholders = {{ placeholders | tojson }}
var texts = {{ texts | tojson }}
var preview_cache = {}
var lang_code = null

function showPreview() {
  getPreview().then(function() {
    $('#preview-text').html(preview_cache[lang_code]);
    $('#preview').show()
    $('html, body').animate({
        scrollTop: $("#preview").offset().top -200
    }, 250);
  });
}
const textarea = document.getElementById('template-text')
$(function() {
  changeLanguage();
  $("form[name=inviteText]").focusin(function() {
    if (!$("input[type=submit]").is(":focus")) {
      $('#preview').hide()
      delete preview_cache[lang_code];
    }
  });
});
function changeLanguage() {
  lang_code = $('#language').val()
  setMessageValue()
  $('#preview').hide()
}
function setMessageValue() {
  if (texts[lang_code]) {
    $("#template-text").val(texts[lang_code])
  } else {
    $("#template-text").val(placeholders[lang_code])
  }
}
function getPreview() {
  return new Promise(function(resolve, reject) {
    if (Object.keys(preview_cache).includes(lang_code) && preview_cache[lang_code] !== "") {
      resolve()
      return
    }
    $.ajax({
      url : "{{ url_for('invite_bp.invite_preview') }}",
      type: "POST",
      dataType: "json",
      data: {"language": lang_code, "text": $("#template-text").val()},
      beforeSend: function(xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken)
          }
      },
      success: function(data, textStatus, jqXHR)
      {
        if (data.preview) {
          preview_cache[lang_code] = data.preview
          resolve()
        }
      }
    });
  });
}
</script>

{% endblock %}
