{% extends "base-backend.html" %}
{% block content %}

<!-- site_look_and_feel_page -->

<script src="{{ url_for('static', filename='vendor/color-wheel/reinvented-color-wheel.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/color-wheel/reinvented-color-wheel.min.css') }}">

<style>
.ds-color-palette span {
  display: inline-block;
  min-width: 2.9em;
  min-height: 2.9em;
  margin-right: -5px;
  margin-bottom: -6px;
  cursor: pointer;
}
</style>

<div class="ds-narrow-container">

  <div class="grid ds-header-title">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{ url_for('admin_bp.admin_panel')}}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h1>{{ _("Look and feel") }}</h1>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <p class="mb-0">{{ _("Configure this site's appearance.") }}</p>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <div class="card">
        <div class="card-body">
          <form name="nameForm" action="{{url_for('site_bp.change_name')}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <label for="ds-change-site-name" class="form-label">{{ _("Site name") }}</label>
            <div>
              <input id="ds-change-site-name" class="form-control" type="text" name="sitename" value="{{site.name}}" required />
            </div>
            <div class="mt-4">
              <input class="btn btn-sm btn-primary" type="submit" value="{{ _('Save') }}" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="grid mt-4">
    <div class="g-col-12">
      <div class="card">
        <div class="card-body">
          <form name="iconForm" method="POST" action="{{url_for('site_bp.change_icon')}}" enctype=multipart/form-data >
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <label class="form-label">{{ _("Site logo") }}</label>
            <div class="form-group">
              <input type="file" name="file" class="form-control"
                     data-parsley-max-file-size="{{config['MAX_MEDIA_SIZE']}}"
                     data-parsley-file-mimetypes="image/png, image/jpeg"
                     required=True />
              <div class="form-text">{{ _("Keep the kilobytes to a minimum") }}</div>
            </div>
            <div class="mt-4">
              <a class="btn btn-sm btn-outline-secondary" role="button" href="{{url_for('site_bp.reset_icon')}}">{{ _("Use default") }}</a>
              <input class="btn btn-sm btn-primary" type="submit" value="{{ _('Upload') }}" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="grid mt-4">
    <div class="g-col-12">
      <div class="card">
        <div class="card-header">
          <h4>{{ _("Site colors") }}</h4>
        </div>
        <div class="card-body">

          <form name="colorForm" method="POST" action="{{url_for('site_bp.change_theme')}}">
            {{ wtcolorform.csrf_token }}
            {{ wtcolorform.font_color(id="font-color") }}
            <div>
              <label class="form-label">{{ _("Header font color") }}</label>
              <br />
              <div class="btn-group btn-toggle">
                {% set color = g.site.theme['navbar']['font_color'] %}
                <button id="light_font_button" type="button" class="btn btn-sm {% if color=='#ddd' %}btn-primary{% else %}btn-outline-secondary{% endif %}"
                        onclick="javascript:setLightFont()">
                  {{ _("Light") }}
                </button>
                <button id="dark_font_button" type="button" class="btn btn-sm {% if color=='#333' %}btn-primary{% else %}btn-outline-secondary{% endif %}"
                        onclick="javascript:setDarkFont()">
                  {{ _("Dark") }}
                </button>
              </div>
            </div>

            <div class="mt-4">
              <label class="form-label">{{ _("Primary color") }}
              <div class="ds-color-palette mt-2">
                <div id="color_wheel_container"></div>
              </div>
            </div>

            <div class="form-group mt-2">
              {{ wtcolorform.primary_color.label(class_="form-label") }}
              {{ wtcolorform.primary_color(class_="form-control") }}
              {% for error in wtcolorform.primary_color.errors %}
                <span class="wtf-error ds-error-message">{{ error }}</span>
              {% endfor %}
            </div>
            <div class="mt-4">
              <input class="btn btn-primary" type="submit" value="{%trans%}Save{%endtrans%}">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
const inline_help_file_name = "site_lookandfeel.j2.md";
// change name script

const parsley_options = {
  errorsContainer: function (field) {
    return $(field.element).closest(".form-group")
  }
}
$('form[name=nameForm]').parsley()
$('form[name=iconForm]').parsley(parsley_options)

// change font color script
function setFontColor(color) {
  $(".ds-color-primary-level, .ds-color-primary-level:hover, .ds-color-primary-level:active, .ds-color-primary-level:focus").css('color', color)
}
function setLightFont() {
  $("#font-color").val("#ddd")
  setFontColor($("#font-color").val())
  $('#light_font_button').addClass('btn-primary')
                         .removeClass('btn-outline-secondary');
  $('#dark_font_button').removeClass('btn-primary')
                        .addClass('btn-outline-secondary');
}
function setDarkFont() {
  $("#font-color").val("#333")
  setFontColor($("#font-color").val())
  $('#light_font_button').removeClass('btn-primary')
                        .addClass('btn-outline-secondary');
  $('#dark_font_button').addClass('btn-primary')
                         .removeClass('btn-outline-secondary');
}

var colorWheel = new ReinventedColorWheel({
  // appendTo is the only required property. specify the parent element of the color wheel.
  appendTo: document.getElementById("color_wheel_container"),
  hex: "{{ g.site.theme['primary_color'] }}",

  // appearance
  wheelDiameter: 200,
  wheelThickness: 20,
  handleDiameter: 16,
  wheelReflectsSaturation: false,

  // handler
  onChange: function (color) {
    $("input[name=primary_color]").val(color.hex)
    $(".ds-main-navbar").css('backgroundColor', color.hex)
    $(".ds-wrapper-white").css('border-top-color', color.hex)
    $(".card").css('border-top-color', color.hex)
    $("#primary_color").val(color.hex)
  },
});

// https://stackoverflow.com/questions/6177454/can-i-force-jquery-cssbackgroundcolor-returns-on-hexadecimal-format
$.cssHooks.backgroundColor = {
    get: function(elem) {
        if (elem.currentStyle)
            var bg = elem.currentStyle["backgroundColor"];
        else if (window.getComputedStyle)
            var bg = document.defaultView.getComputedStyle(elem, null)
                                         .getPropertyValue("background-color");
        if (bg.search("rgb") == -1)
            return bg;
        else {
            bg = bg.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
            function hex(x) {
                return ("0" + parseInt(x).toString(16)).slice(-2);
            }
            return "#" + hex(bg[1]) + hex(bg[2]) + hex(bg[3]);
        }
    }
}
$(function () {
  $('form[name=colorForm]').parsley().on('form:validate', function() {
    $('span[class=wtf-error]').remove()
  })
})

// change icon script
$(function () {
  $('form[name=iconForm]').parsley().on('field:validated', function() {
    var ok = $('.parsley-error').length === 0;
    $('.bs-callout-info').toggleClass('hidden', !ok);
    $('.bs-callout-warning').toggleClass('hidden', ok);
  })
});
window.Parsley.addValidator('fileMimetypes', {
  validateString: function(_value, requirement, parsleyInstance) {
    if (!window.FormData) {
      return true;
    }
    var file = parsleyInstance.$element[0].files;
    if (file.length == 0) {
      return true;
    }
    var allowedMimeTypes = requirement.replace(/\s/g, "").split(',');
    return allowedMimeTypes.indexOf(file[0].type) !== -1;
  },
  requirementType: 'string',
  messages: {
    {{ g.language }}: "{{ _('Please use a PNG or JPG file') }}"
  }
});
window.Parsley.addValidator('maxFileSize', {
  validateString: function(_value, maxSize, parsleyInstance) {
    if (!window.FormData) {
      return true;
    }
    var files = parsleyInstance.$element[0].files;
    return files.length != 1  || files[0].size <= maxSize;
 },
  requirementType: 'integer',
  messages: {
    {{ g.language }}: "{{ _('The file is too large. Max. %(size)s', size = human_readable_bytes(config['MAX_MEDIA_SIZE'])) }}"
  }
});
</script>

{% endblock %}
