{% extends "base-backend.html" %}
{% block content %}

<!-- user_change_language_page -->

<div class="ds-narrow-container">
  <div class="grid ds-header-title">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{url_for('admin_bp.admin_panel', goto='new-users')}}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h1>{{ _('New user language') }}</h1>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <p class="mb-0">{{ _("Users can change this later on their profile page.") }}</p>
    </div>
  </div>

  <div class="grid mt-3 ds-wrapper-white">
    <div class="g-col-12">
      <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="form-group">
        {% for key in config['LANGUAGES'] %}
        <div class="radio-group mt-1">
            <input type="radio" id="lang-radio{{loop.index}}" name="language" value="{{ key }}" {% if key == current_language %}checked{% endif %} >
            <label for="lang-radio{{loop.index}}">{{ config['LANGUAGES'][key][0] }}</label>
        </div>
        {% endfor %}
        </div>

        <div class="mt-4">
          <input class="btn btn-primary" type="submit" value="{{ _('Save') }}">
        </div>
      </form>
    </div>
  </div>
</div>

<script>
const inline_help_file_name = "site_newuserlanguage.j2.md";

</script>

{% endblock %}
