/*
 * Bootstrap classes
 *
 */

// Cards
.card {
  border-top: 2px solid var(--lf-success);
}
.card-header {
  background-color: transparent;
  h2, h3, h4, h5, h6 {
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    margin-bottom: 0;
  }
}

// Tables
// Remove border top tbody
.table > :not(:first-child) {
  border-top-width: var(--lf-border-width);
}

// Navbar
.navbar-toggler {
  &:focus {
    box-shadow: none;
  }
}
