/*
 * Main
 *
 */

.ds-main-content {
  position: relative;
}

// Inline help
.ds-inline-help {
  background-color: var(--lf-body-bg);
  position: absolute;
  top: -($spacer);
  left: 0;
  right: 0;
  z-index: 99;
  border-bottom: 5px solid var(--lf-gray-300);
  h2, h3, h4, h5 {
    font-size: var(--lf-small-font-size);
  }
  h1 {
    font-size: $h4-font-size;
    font-weight: $font-weight-light;
  }
  h2 {
    font-size: $h6-font-size;
  }
  h2, h3, h4, h5 {
    font-weight: $font-weight-bold;
    color: var(--lf-gray-800);
  }
  .ds-inline-help-page-header {
    background-color: var(--lf-gray-300);
    padding: $spacer;
    svg {
      cursor: pointer;
    }
  }
  .ds-inline-help-menu {
    .navbar-collapse {
      padding: $spacer;
    }
    .navbar-nav {
      flex-direction: column;
    }
    .nav-link {
      color: var(--lf-primary);
      padding: calc($spacer / 4) 0;
      &:before {
        content: ' - ';
      }
    }
    .ds-search {
       background-color: var(--lf-gray-100);
    }
  }
  .ds-inline-help-page {
    padding: $spacer;
    background-color: var(--lf-gray-100);
    h1 {
      margin-bottom: 1em;
    }
    h2, h3, h4, h5 {
      margin: 1em 0;
    }
    p {
      margin-bottom: 0.75em;
    }
    code {
      font: var(--lf-font-sans-serif);
      color: black;
      background-color: var(--lf-gray-300);
      padding-left: 0.2em;
      padding-right: 0.2em;
    }
  }
}

// ≥992px
@include media-breakpoint-up(lg) {
  // Inline-help
  .ds-inline-help {
    .ds-button-navbar-toggler {
      display: none;
    }
  }
}

// ≥1200px
@include media-breakpoint-up(xl) {
  #main-content {
    min-height: calc(100vh - 12rem);
  }
  .ds-main-content {
    margin-left: 16rem;
    transition: all 100ms;
  }
  // Collapse main sidebar.
  // Same as sidebar.scss.
  body.ds-collapse-sidebar {
    .ds-main-content {
      margin-left: ($spacer * 5);
    }
  }
  // Inline-help
  .ds-inline-help {
    .ds-inline-help-page-header,
    .ds-inline-help-menu .navbar-collapse,
    .ds-inline-help-page {
      padding-left: calc($spacer * 2);
      padding-right: calc($spacer * 2);
    }
  }
}
