{% extends "base-backend.html" %}
{% block content %}

<!-- admin_delete_user_page -->

{% set form_count = user.authored_forms|length %}

<div class="ds-narrow-container">

  <div class="grid ds-header-title ds-no-border">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{url_for('admin_bp.inspect_user', user_id=user.id)}}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h1>
        {{ _("Delete user") }}
      </h1>
    </div>
  </div>

  <div class="grid mt-0">
    <div class="g-col-12">
      <p class="alert alert-danger ds-alert mb-0">
      {% if not form_count %}
        {{ _("You are going to delete the user <strong>%(username)s</strong>.", username=user.username) }}
      {% endif %}
      {% if form_count %}
        {{ _("You are going to delete the user <strong>%(username)s</strong> and their forms.", username=user.username) }}
      {% endif %}
      {{ _("This cannot be undone!") }}
      </p>
    </div>
  </div>

  {% if form_count %}
  <div class="grid mt-4">
    <div class="g-col-12">
      <div class="card">
        <div class="card-header">
          <h2>{{ _("Forms created by user %(username)s", username=user.username) }}</h2>
        </div>
        <div class="card-body">
          <table class="table table-sm align-middle">
            <thead class="">
              <tr>
                <th>{{ _("Slug") }}</th>
                <th>
                  {# i18n: Table column title, indicating number of a users for a form #}
                  {{ _("Editors") }}
                </th>
                <th>
                  {# i18n: Table column title, indicating answers received for a form #}
                  {{ _("Answers") }}
                </th>
              </tr>
            </thead>
            <tbody>
              {% for form in user.authored_forms %}
              <tr>
                <td><a href="{{url_for('admin_bp.inspect_form', form_id=form.id)}}">{{form.slug}}</a></td>
                <td>{{form.users.count()}}</td>
                <td>{{form.answers.count()}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="grid mt-4 ds-wrapper-white">
    <div class="g-col-12">
      <p>{{ _("To confirm, enter the name of this user here.") }}</p>
      <form method="POST" name="deleteUser">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div>
          <label for="username" class="visually-hidden">{{ _("Username") }}</label>
          <input id="username" type="text" name="username" class="form-control" autocomplete="off" required />
        </div>
        <div class="mt-4">
          {% if form_count %}
            <input class="btn btn-danger" type="submit" value="{{ _('Delete user and forms') }}" />
          {% else %}
            <input class="btn btn-danger" type="submit" value="{{ _('Delete user') }}" />
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  const inline_help_file_name = "admin_user_delete.j2.md";
  /* Parsley */
  $(function () {
    $('form[name=deleteUser]').parsley()
  });
</script>

{% endblock %}
