{% extends "base-backend.html" %}
{% block content %}

<!-- new_invite_page -->

<div class="ds-narrow-container">

  <div class="grid ds-header-title">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{go_back_url}}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h1>
        {{ _("Send a new user invitation") }}
      </h1>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <p class="mb-0">{{ _("Invite a new user by sending an email") }}.</p>
    </div>
  </div>

  <div class="grid mt-3 ds-wrapper-white">
    <div class="g-col-12">
      <form name="newInvite" method="POST" autocomplete="off">
        {{ wtform.csrf_token }}
        <div>
          {{ wtform.email.label(for="new-invite-email",
                                class_="form-label") }}
          {{ wtform.email(id="new-invite-email",
                          class_="form-control",
                          placeholder=_("person@example.com")) }}
          {% for error in wtform.email.errors %}
            <span class="wtf-error ds-error-message">{{ error }}</span>
          {% endfor %}
        </div>

        <div class="mt-4">
          {{ wtform.role.label(for="role", class_="form-label") }}
          {{ wtform.role(id="role", class_="form-select") }}
        </div>

        <p class="mt-4"><strong>{{ _("Invitation message") }}</strong></p>

        {% if g.site.custom_languages|length > 1 %}
          <div class="g-col-12 g-col-lg-6">
            {{ wtform.language.label(for="language", class_="form-label") }}
            {{ wtform.language(id="language", class_="form-select form-select", onchange="changeLanguage()") }}
          </div>
        {% else %}
          <input id="language" type="hidden" name="language" value="{{g.site.language}}" />
        {% endif %}

        <div class="mt-4">
          <button id="preview-message-btn" class="btn btn-sm btn-outline-secondary" type="button" onclick="toggleEditor()">{{ _("Edit message")}}</button>
          <button id="reset-message-btn"class="btn btn-sm btn-outline-secondary" type="button" onclick="resetMessage()" style="display:none">{{ _("Use default")}}</button>
        </div>

        <div id="message-editor" class="mt-3" style="display:none">
          {{ wtform.message.label(for="new-invite-message",
                                  class_="form-label") }}
          {{ wtform.message(id="new-invite-message",
                            class_="form-control",
                            rows="8") }}
          {% for error in wtform.message.errors %}
            <span class="wtf-error ds-error-message">{{ error }}</span>
          {% endfor %}
        </div>

        <div id="preview" class="mt-4 p-3 text-bg-light" style="display:none">
          <div id="message-preview"></div>
        </div>

        <div class="mt-4">
          {# i18n: Button to send new user invitation message via email #}
          <input class="btn btn-primary" type="submit" value="{{ _('Send email') }}">
        </div>
      </form>
    </div>
  </div>

</div>

<script>
const inline_help_file_name = "admin_invites_new.j2.md";
/* Parsley */
$(function () {
  $('form[name=newInvite]').parsley().on('field:validate', function(field) {
    $(field.element).closest('div').find('.wtf-error').remove()
  })
});

const languages = {{ config['LANGUAGES'] | tojson }};
const placeholders = {{ placeholders | tojson }};
const templates = {{ templates | tojson }};
const previews = {{ previews | tojson }};
var message_cache = {{ templates | tojson }};
var previews_cache = {{ previews | tojson }};
var lang_code = null
{% if wtform.message.errors %}
previews_cache["{{ wtform.language.data }}"] = ""
message_cache["{{ wtform.language.data }}"] = `{{ wtform.message.data }}`
{% endif %}

$(function() {
  lang_code = $('#language').val();
  $('#lang-selector').html(languages[lang_code][0]);
  setMessageValue()
  {% if wtform.message.errors %}
    previews_cache[lang_code] = ""
    showEditor()
  {% else %}
    showPreview()
  {% endif %}
});
function setMessageValue() {
  if (message_cache[lang_code]) {
    $("#new-invite-message").val(message_cache[lang_code])
  } else if (templates[lang_code]) {
    $("#new-invite-message").val(templates[lang_code])
  } else {
    $("#new-invite-message").val(placeholders[lang_code])
  }
}
function changeLanguage() {
  lang_code = $('#language').val()
  $('#language').val(lang_code)
  setMessageValue()
  $(".wtf-error").hide()
  if ($("#preview").is(':visible')) {
    showPreview()
  }
}
function showPreview() {
  $('#message-preview').html(previews_cache[lang_code]);
  $("#message-editor").hide()
  $("#reset-message-btn").hide()
  $("#preview").show()
  $("#preview-message-btn").html("{{ _('Edit message') }}")
  $("#preview-message-btn").removeClass('btn-outline-primary').addClass('btn-outline-secondary')
  $("form").find("input:submit").prop('disabled', false)
}
function showEditor() {
  setMessageValue()
  $("#preview-message-btn").html("{{ _('Set message') }}")
  $("#preview-message-btn").removeClass('btn-outline-secondary').addClass('btn-outline-primary')
  $("#preview").hide()
  $("#message-editor").show()
  $("#new-invite-message").focus()
  $("#reset-message-btn").show()
  $("form").find("input:submit").prop('disabled', true)
}
function resetMessage() {
  clearErrorMessages()
  $("#new-invite-message").val(placeholders[lang_code])
  $("#message-preview").val(previews[lang_code])
}
function clearErrorMessages() {
  $("#message-editor").find(".wtf-error").remove()
}
function toggleEditor() {
  if ($("#preview").is(':visible')) {
    clearErrorMessages()
    showEditor()
  } else {
    var template_text = ""
    if ($("#new-invite-message").val()) {
      message_cache[lang_code] = $("#new-invite-message").val()
      template_text = message_cache[lang_code]
    }
    $.ajax({
      url : "{{ url_for('invite_bp.invite_preview') }}",
      type: "POST",
      dataType: "json",
      data: {"language": lang_code, "text": template_text},
      beforeSend: function(xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken)
          }
      },
      success: function(data, textStatus, jqXHR)
      {
        if (Object.keys(data).includes("text") && data.preview) {
          message_cache[lang_code] = data.text
          previews_cache[lang_code] = data.preview
          showPreview()
        }
      }
    });
  }
}
</script>

{% endblock %}
