
<!-- form_api_endpoints -->

{% set is_auth_enabled = True if form.endpoint_auth and form.endpoint_auth.enabled else False %}

<div class="card">
  <div class="card-header">
    <h2>API endpoints</h2>
  </div>
  <div class="card-body">
    <ul class="ds-list-group">
      <li>
        <span>JWT authorization</span>
        <span id="toggle_endpoint_auth" class="btn-group btn-toggle">
          <button id="endpoint_auth_true" class="btn btn-sm {% if is_auth_enabled %}btn-primary{% else %}btn-outline-secondary{% endif %}">{{ _("Enable") }}</button>
          <button id="endpoint_auth_false" class="btn btn-sm {% if not is_auth_enabled %}btn-primary{% else %}btn-outline-secondary{% endif %}">{{ _("Disable") }}</button>
        </span>
      </li>
      <li>
        <span>Authorization token</span>
        {% set href = 'href=javascript:void(0);' if is_auth_enabled else "" %}
        <span><a id="copy_token_link" {{href}} onclick="copyToCLipboard()">{{_("Copy to clipboard")}}</a></span>
      </li>
      <li>
        <span>GET <span class="text-lowercase">{{ _("Form") }}</span></span>
        <span>{{ url_for('api_bp.form_info', form_id=form.id, _external=True) }}</span>
      </li>
      <li>
        <span>GET <span class="text-lowercase">{{ _("Answers") }}</span></span>
        <span>{{ url_for('api_bp.form_answers', form_id=form.id, _external=True) }}</span>
      </li>
    </ul>
  </div>
</div>

{% set auth_header_value = form.endpoint_auth.get_authorization_header_value() if is_auth_enabled else "" %}
<input id="authorization_header_value" type="hidden" value="{{auth_header_value}}" />


<script>
document.getElementById('toggle_endpoint_auth').addEventListener('click', function(evt){
  $.ajax({
    url : "{{url_for('form_bp.toggle_endpoint_auth', form_id=form.id)}}",
    type: "POST",
    dataType: "json",
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
    },
    success: function(data, textStatus, jqXHR)
    {
      if (data.enabled == true) {
        $('#endpoint_auth_true').addClass('btn-primary').removeClass('btn-outline-secondary');
        $('#endpoint_auth_false').removeClass('btn-primary').addClass('btn-outline-secondary');
        $("#authorization_header_value").val(data.authorization_header_value)
        $("#copy_token_link").attr("href", "javascript:void(0);")
      }
      else if (data.enabled == false) {
        $('#endpoint_auth_true').removeClass('btn-primary').addClass('btn-outline-secondary');
        $('#endpoint_auth_false').addClass('btn-primary').removeClass('btn-outline-secondary');
        $("#authorization_header_value").val("")
        $("#copy_token_link").removeAttr("href")
      }
    }
  });
});
function copyToCLipboard() {
  let authorization_header_value = $("#authorization_header_value").val()
  if (authorization_header_value == "") {
    return
  }
  navigator.clipboard.writeText(authorization_header_value)
}
</script>
