

<nav class="ds-contextual-menu-form navbar-expand-lg text-end" role="navigation">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#contextualMenuForm" aria-controls="contextualMenuForm" aria-expanded="false" aria-label="Toggle navigation">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical" aria-hidden="true"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
  </button>
  <div class="collapse navbar-collapse" id="contextualMenuForm">
    <ul class="nav nav-pills">
      {% if viewer_role == "editor" %}
        <li class="nav-item">
          {% if active_item == 'settings' %}
            {# Can't do this because of nav-pills!!
            if sub_option %}
              {% set active = "btn-outline-primary" %}
            {% else %}
              {% set active = "active" %}
            {% endif #}
            {% set active = "active" %}
          {% else %}
            {% set active = "" %}
          {% endif %}
          <a class="nav-link {{ active }}" href="{{ url_for('form_bp.inspect_form', form_id=form.id) }}">{{ _("Configuration") }}</a>
        </li>
        <li class="nav-item">
          {% if active_item == 'options' %}
            {% set active = "active" %}
          {% else %}
            {% set active = "" %}
          {% endif %}
          <a class="nav-link {{ active }}" href="{{ url_for('form_bp.form_details', form_id=form.id) }}">{{ _("Options") }}</a>
        </li>
        <li class="nav-item">
          {% if active_item == 'answers' %}
            {% set active = "active" %}
            {% set item_link = "#" %}
          {% else %}
            {% set active = "" %}
          {% endif %}
          {% set item_link = url_for('answers_bp.list', form_id=form.id) %}
          <a class="nav-link {{ active }}" href="{{ item_link }}">{{ _("Answers") }} <span class="badge bg-light text-dark">{{ total_answers }}</span></a>
        </li>
        <li class="nav-item">
          {% if active_item == 'preview' %}
            {% set active = "active" %}
            {% set item_link = "#" %}
          {% else %}
            {% set active = "" %}
            {% set item_link = url_for('form_bp.preview', form_id=form.id) %}
          {% endif %}
          <a class="nav-link {{ active }}" href="{{ item_link }}">{{ _("Preview") }}</a>
        </li>
      {% endif %}

      {% if viewer_role == "admin" %}
        <li class="nav-item">
          {% if active_item == 'options' %}
            {% set active = "active" %}
            {% set item_link = "#" %}
          {% else %}
            {% set active = "" %}
            {% set item_link = url_for('admin_bp.inspect_form', form_id=form.id) %}
          {% endif %}
          <a class="nav-link {{ active }}" href="{{ item_link }}">{{ _("Details") }}</a>
        </li>
        <li class="nav-item">
          {% if active_item == 'preview' %}
            {% set active = "active" %}
            {% set item_link = "#" %}
          {% else %}
            {% set active = "" %}
            {% set item_link = url_for('admin_bp.preview_form', form_id=form.id) %}
          {% endif %}
          <a class="nav-link {{ active }}" href="{{ item_link }}">{{ _("Preview") }}</a>
        </li>
      {% endif %}

      {% if viewer_role == "guest" %}
        <li class="nav-item">
          {% if active_item == 'answers' %}
            {% set active = "active" %}
            {% set item_link = "#" %}
          {% else %}
            {% set active = "" %}
            {% set item_link = url_for('answers_bp.list', form_id=form.id) %}
          {% endif %}
          <a class="nav-link {{ active }}" href="{{ item_link }}">{{ _("Answers") }} <span class="badge bg-light text-dark">{{ total_answers }}</span></a>
        </li>
        <li class="nav-item">
          {% if active_item == 'preview' %}
            {% set active = "active" %}
            {% set item_link = "#" %}
          {% else %}
            {% set active = "" %}
            {% set item_link = url_for('form_bp.preview', form_id=form.id) %}
          {% endif %}
          <a class="nav-link {{ active }}" href="{{ item_link }}">{{ _("Preview") }}</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
