{% if viewer_role is not defined %}
  {% set viewer_role = "editor" %}
{% endif %}

<div class="grid align-items-start align-items-lg-end ds-header-title-with-button">
  <div class="g-col-6 g-col-lg-5">
    <h1 class="ds-context-menu-title">
      {% if viewer_role == "editor" and active_item == 'options' and sub_option != True %}
      <a href="#" class="ds-change-form-name text-decoration-none" onclick="window.location='{{url_for('form_bp.change_name', form_id=form.id)}}'">{{ form.name }}
      <i data-feather="edit" width="18" height="18" aria-hidden="true"></i></a>
      {% else %}
      <span>{% if viewer_role == "admin" %}{{ form.slug }}{% else %}{{ form.name }}{% endif %}</span>
      {% endif %}
    </h1>
  </div>
  <div class="g-col-6 g-col-lg-7">
    {% if not without_menu %}
      {% if is_form_editor is not defined %}
        {% set is_form_editor = form.is_editor(current_user.id) %}
      {% endif %}
      {% if is_form_guest is not defined %}
        {% set is_form_guest = form.is_guest(current_user.id) %}
      {% endif %}
      {% if not total_answers is defined %}
        {% set total_answers = form.get_total_answers() %}
      {% endif %}

      {% include 'form/partials/context-menu.html' %}
    {% endif %}
  </div>
</div>
