
<!-- form_permissions -->

{% if viewer_role == "editor" %}
<div class="card">
  <div class="card-header">
    <h2>{{ _("Group permissions") }}</h2>
  </div>

  <div class="card-body">
    <ul class="ds-list-group">
      <li>
        {% set form_editors = FormUser.find_all(form_id=form.id, is_editor=True) %}
        <span>{{ _("Editors") }}
          {% if form_editors.count() > 1 %}
            {% for form_user in form_editors %}
              <span class="ds-avatar-sm"><img src="{{form_user.user.get_avatar_src()}}" title="{{form_user.user.username}}" class="rounded-circle" /></span>
            {% endfor %}
          {% endif %}
        </span>
        {% if form_editors.count() > 1 %}
          <a class="text-nowrap ds-link-contain-icon" href="{{ url_for('form_bp.form_editors', form_id=form.id)}}">
            {{ _("Form shared between %(number)s", number=form_editors.count()) }} <i data-feather="chevron-right" aria-hidden="true"></i>
          </a>
        {% else %}
          <a class="ds-link-contain-icon" href="{{ url_for('form_bp.form_editors', form_id=form.id)}}">
            {{ _("Add editors") }}
            <i data-feather="chevron-right" aria-hidden="true"></i>
          </a>
        {% endif %}
      </li>

      <li>
        {% set form_readers = FormUser.find_all(form_id=form.id, is_editor=False) %}
        <span>
          {{ _("Answers only") }}
          {% for form_user in form_readers %}
          <span class="ds-avatar-sm"><img src="{{form_user.user.get_avatar_src()}}" title="{{form_user.user.username}}" class="rounded-circle" /></span>
          {% endfor %}
        </span>
        {% set readers_cnt = form_readers.count() %}
        {% set invites_cnt = invites.count() %}
        <div>
          <a class="text-nowrap ds-link-contain-icon" href="{{ url_for('form_bp.form_readers', form_id=form.id) }}">
            {% if invites_cnt > 0 %}
              {{ ngettext("One pending invitation", "%(number)s pending invitations", invites_cnt, number=invites_cnt) }}
            {% elif readers_cnt > 0 %}
              {# i18n: "Shared" refers to shared answers #}
              {{ _("Shared with %(number)s", number=readers_cnt) }}
            {% else %}
              {{ _("Share") }}
            {% endif %}
            <i data-feather="chevron-right" aria-hidden="true"></i>
          </a>
        </div>
      </li>
      <li>
        <span>{{ _("Restricted access") }}</span>
        <span id="toggle_restricted_access" class="btn-group btn-toggle">
          <button id="restricted_access_true" class="btn btn-sm {% if form.restricted_access %}btn-primary{% else %}btn-outline-secondary{% endif %}">{{ _("True") }}</button>
          <button id="restricted_access_false" class="btn btn-sm {% if not form.restricted_access %}btn-primary{% else %}btn-outline-secondary{% endif %}">{{ _("False") }}</button>
        </span>
      </li>
    </ul>
  </div>
</div>

<script>
document.getElementById('toggle_restricted_access').addEventListener('click', function(evt){
  $.ajax({
    url : "{{url_for('form_bp.toggle_restricted_access', form_id=form.id)}}",
    type: "POST",
    dataType: "json",
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
    },
    success: function(data, textStatus, jqXHR)
    {
      if (data.restricted == true) {
        $('#restricted_access_true').addClass('btn-primary')
                          .removeClass('btn-outline-secondary');
        $('#restricted_access_false').removeClass('btn-primary')
                           .addClass('btn-outline-secondary');
      }
      else if (data.restricted == false) {
        $('#restricted_access_true').removeClass('btn-primary')
                          .addClass('btn-outline-secondary');
        $('#restricted_access_false').addClass('btn-primary')
                           .removeClass('btn-outline-secondary');
      }
    }
  });
});
</script>
{% endif %}

{% if viewer_role == "admin" %}
<div class="card">
  <div class="card-header">
    <h2>{{ _("Group permissions") }}</h2>
  </div>
  <div class="card-body">
    <ul class="ds-list-group">
      <li>
        {% set form_editors = FormUser.find_all(form_id=form.id, is_editor=True) %}
        {% set editors_cnt = form_editors.count() %}
        <span>{{ _("Editors") }}
          {% for form_user in form_editors %}
            <a href="{{url_for('admin_bp.inspect_user', user_id=form_user.user.id)}}" title="{{form_user.user.username}}"><span class="ds-avatar ds-avatar-sm"><img src="{{form_user.user.get_avatar_src()}}" alt="" class="rounded-circle" /></span></a>
          {% endfor %}
        </span>
        <span>
          {% if editors_cnt > 1 %}
            {# i18n: "Shared" refers to shared answers #}
            {{ _("Shared with %(number)s", number=editors_cnt-1) }}
          {% else %}
            {# i18n: "Shared" refers to shared answers #}
            {{ _("Not shared") }}
          {% endif %}
        </span>
      </li>
      <li>
        {% set form_readers = FormUser.find_all(form_id=form.id, is_editor=False) %}
        {% set readers_cnt = form_readers.count() %}
        {% set invites_cnt = invites.count() %}
        <span>
          {{ _("Guests") }}
          {% for form_user in form_readers %}
            <a href="{{url_for('admin_bp.inspect_user', user_id=form_user.user.id)}}" title="{{form_user.user.username}}"><span class="ds-avatar ds-avatar-sm"><img src="{{form_user.user.get_avatar_src()}}" alt="" class="rounded-circle" /></span></a>
          {% endfor %}
        </span>
        <span>
          {% if invites_cnt > 0 %}
            {{ ngettext("One pending invitation", "%(number)s pending invitations", invites_cnt, number=invites_cnt) }}
          {% elif readers_cnt > 0 %}
            {# i18n: "Shared" refers to shared answers #}
            {{ _("Shared with %(number)s", number=readers_cnt) }}
          {% else %}
            {# i18n: "Shared" refers to shared answers #}
            {{ _("Not shared") }}
          {% endif %}
        </span>
      </li>
      <li>
        <span>{{ _("Restricted access") }}</span>
        <span>{% if form.restrictedAccess %}{{ _("True") }}{% else %}{{ _("False") }}{% endif %}</span>
      </li>
    </ul>
  </div>
</div>
{% endif %}
