

{% set form_can_be_published = form.can_be_published() %}

<div class="card">
  <div class="card-header">
    <h2>{{ _("Publish") }}</h2>
  </div>
  <div class="card-body">
    <ul class="ds-list-group">
      <li>
        <span>{{ _("Public") }} {% if not form_can_be_published %}{{ status_badges(form, viewer_role)|safe }}{% endif %}</span>
        {% if viewer_role == "editor" %}
        <div id="toggle_enabled" class="btn-group btn-toggle">
          <button id="enabled_true" class="btn btn-sm {% if form.is_public() %}btn-primary{% else %}btn-outline-secondary{% endif %}" {% if not form_can_be_published %}disabled{% endif %}>{{ _("True") }}</button>
          <button id="enabled_false" class="btn btn-sm {% if not form.is_public() %}btn-primary{% else %}btn-outline-secondary{% endif %}" {% if not form_can_be_published %}disabled{% endif %}>{{ _("False") }}</button>
        </div>
        {% else %}
          <span>{% if form.is_public() %}{{ _("True") }}{% else %}{{ _("False") }}{% endif %}</span>
        {% endif %}
      </li>
      <li>
        <span>{{ _("Public URL") }}</span>
        <span>
          {% if form.is_public() %}
          <a id="formLink" href="{{ form.url }}">{{ form.url }}</a>
          <span id="formURL" style="display:none">{{ form.url }}</span>
          {% else %}
          <a id="formLink" href="{{ form.url }}" style="display:none">{{ form.url }}</a>
          <span id="formURL">{{ form.url }}</span>
          {% endif %}
        </span>
      </li>
      {% if viewer_role == "admin" %}
      <li>
        <span>{{ _("Answers") }}</span>
        <span>{{ form.get_total_answers() }}</span>
      </li>
      <li>
        <span>{{ _("Last answer") }}</span>
        <span>{{ form.get_last_answer_date() }}</span>
      </li>
      {% endif %}
      {% if viewer_role == "editor" %}
      <li>
        <span>{{ _("Public URL in a QR") }}</span>
        <span><a class="ds-link-contain-icon" href="{{url_for('form_bp.form_qr', form_id=form.id)}}">{{ _("Download") }} <i data-feather="chevron-right" aria-hidden="true"></i></a></span>
      </li>
      {% endif %}
      {% if is_form_editor and current_user.fedi_auth %}
      <li>
        <span>{{ _("Social media") }}</span>
        {% set fedi_cnt = ngettext("Published once",
                    "Published %(number)s times",
                    form.published_cnt,
                    number=form.published_cnt) %}
        <a class="ds-link-contain-icon" href="{{url_for('form_bp.fedi_publish', form_id=form.id)}}">{{ fedi_cnt }} <i data-feather="chevron-right" aria-hidden="true"></i></a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>

{% if viewer_role == "editor" %}
<script>
{% if form_can_be_published %}
document.getElementById('toggle_enabled').addEventListener('click', function(evt){
    $.ajax({
        url : "{{ url_for('form_bp.toggle_form_enabled', form_id=form.id) }}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.enabled == true) {
                $('#enabled_true').addClass('btn-primary')
                                  .removeClass('btn-outline-secondary');
                $('#enabled_false').removeClass('btn-primary')
                                   .addClass('btn-outline-secondary');
                $('#formURL').hide();
                $('#formLink').show();
                $('#fediverse-publish').prop('disabled', false);
            }
            else if (data.enabled == false) {
                $('#enabled_true').removeClass('btn-primary')
                                  .addClass('btn-outline-secondary');
                $('#enabled_false').addClass('btn-primary')
                                   .removeClass('btn-outline-secondary');
                $('#formURL').show();
                $('#formLink').hide();
                $('#fediverse-publish').prop('disabled', true);
            }
        }
    });
});
{% endif %}
</script>
{% endif %}
