{% extends "base-backend.html" %}
{% block content %}

<!-- delete_all_answers_page -->

{% set total_answers = form.get_total_answers() %}

{% with active_item="answers",
        sub_option=True %}
  {% include 'form/partials/form-context.html' %}
{% endwith %}

<div class="ds-narrow-container mt-2">

  <div class="grid ds-header-title-nested ds-no-border">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="/form/{{form.id}}/answers" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h2>{{ _("Delete all answers") }}</h2>
    </div>
  </div>

  <div class="grid mt-1">
    <div class="g-col-12">
      <p class="alert alert-danger ds-alert mb-0">
        {{ ngettext("You are going to delete one answer",
                    "You are going to delete %(total_answers)s answers",
                    total_answers,
                    total_answers=total_answers) }}.
        {{ _("This cannot be undone!") }}
      </p>
    </div>
  </div>

  <div class="grid mt-4 ds-wrapper-white">
    <div class="g-col-12">
      <p>{{ _("To confirm, enter the number of total answers here.") }}</p>
      <form name="deleteAllAnswers" method="POST" autocomplete="off">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div>
          <label for="total-answers" class="visually-hidden">{{total_answers}}</label>
          <input id="total-answers" type="number" name="totalAnswers" class="form-control" required>
        </div>
        <div class="mt-4">
          <input class="btn btn-danger" type="submit" value="{{ _('Delete answers') }}" />
          <input class="btn btn-outline-secondary" type="button" value="{{ _('Cancel') }}" onClick="location.href='/form/{{form.id}}/answers'" />
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  const inline_help_file_name = "form_deleteallanswers.j2.md";
  /* Parsley */
  $(function () {
    $('form[name=deleteAllAnswers]').parsley()
  });
</script>

{% endblock %}
