
<nav class="navbar navbar-expand-lg p-0">
  <!--button on inline-help files-->
  <div class="collapse navbar-collapse ds-inline-help-nav" id="navbarHelpContent">
    <ul class="navbar-nav">
      <li class="navbar-text pt-0">
        <strong>{{ _("Navigation")}}</strong>
      </li>
      {% for file_name, item in menu_data["user"].items() %}
      <li class="nav-item">
        <a href='#' class="nav-link" file-name="{{file_name}}" onclick='inline_help_goto_page("{{file_name}}")'>{{item.label}}</a>
      </li>
      {% endfor %}
      {% if is_admin %}
      <li class="navbar-text mt-2">
        <strong>{{ _("Admin")}}</strong>
      </li>
      {% for file_name, item in menu_data["admin"].items() %}
      <li class="nav-item">
        <a href='#' class="nav-link" file-name="{{file_name}}" onclick='inline_help_goto_page("{{file_name}}")'>{{item.label}}</a>
      </li>
      {% endfor %}
      {% endif %}

      <li class="nav-item mt-4">
        <input id="search_text" class="form-control ds-search" type="search" placeholder='{{_("Search")}}' onkeypress="search_inline_help(event)" aria-label='{{_("Search")}}'>
      </li>
    </ul>
  </div>
</nav>

<script>
//const inline_help_menu_data = {{ menu_data|tojson }}
</script>
