

<!-- new_user_form_options_page -->


<div class="mt-4 ds-consent-selector ds-wrapper-white">
    {% if consent_library|length %}
    <p class="mb-0"><strong>{{_("Add and remove privacy statements")}}</strong></p>
    <div class="consent-library-list mt-3">
      {% for consent in consent_library %}
      <div>
        <span class="">{{ consent.name }}</span>
        <span class="float-end consent-actions" consent_id="{{consent.id}}">
          <button class="consent-action-remove btn btn-sm btn-outline-danger">{{ _("Remove") }}</button>
          <button class="consent-action-add btn btn-sm btn-outline-primary">{{ _("Add") }}</button>
        </span>
      </div>
      <hr class="mb-1" />
      {% endfor %}
    </div>
    {% endif %}
    {% if not consent_library|length %}
    <p class="mt-1 mb-2">{{_("Do you want to add a statement?")}}</p>
    <a href="{{url_for('consent_bp.edit_site_data_consent')}}">{{_("Create a privacy statement")}} <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
    {% endif %}
</div>

<script>
$(".consent-action-add").on('click', function(evt) {
  $(this).blur()
  let consent_id = $(this).closest(".consent-actions").attr("consent_id")
  let enabled_consent = $("#enabled_consent_container").find("div[consent_id="+consent_id+"]")
  if (enabled_consent.length && !enabled_consent.is(':visible')) {
    enabled_consent.show()
  }
  $("#enabled_consent_container").addClass("ds-consent-container")
  enableConsent(consent_id, enable=true)
})
$(".consent-action-remove").on('click', function(evt) {
  $(this).blur()
  let consent_id = $(this).closest(".consent-actions").attr("consent_id")
  let enabled_consent = $("#enabled_consent_container").find("div[consent_id="+consent_id+"]")
  if (! $("#enabled_consent_container").find(".single_consent").is(':visible')) {
    $("#enabled_consent_container").removeClass("ds-consent-container")
  }
  enableConsent(consent_id, enable=false)
})
function enableConsent(consent_id, enable) {
  $.ajax({
    url : "{{ url_for('site_bp.new_user_form_enable_consent') }}",
    type: "POST",
    dataType: "json",
    data: {"consent_id": consent_id, "enable": enable},
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}")
        }
    },
    success: function(data, textStatus, jqXHR)
    {
      $("#enabled_consent_container").empty()
      data.enabled_consents.forEach( consent => {
        var template = consent_template.replace(/%consent_id%/g, consent.id)
                                       .replace(/%consent_label%/, consent.label)
                                       .replace(/%consent_text%/, consent.text)
                                       .replace(/%consent_field_name%/g, consent.field_name)
                                       .replace(/%consent_checkbox_label%/g, consent.checkbox_label)
        if (consent.required == true) {
          template = template.replace(/%required_field%/, 'required')
                             .replace(/%required_asterisk%/, '<span class="ds-required" arial-label="required"></span>')
        } else {
          template = template.replace(/%required_field%/, '')
                             .replace(/%required_asterisk%/, '')
        }
        $("#enabled_consent_container").append(template)
      })
      if (data.enabled_consents.length) {
        $("#enabled_consent_container").addClass("ds-consent-container")
      } else {
        $("#enabled_consent_container").removeClass("ds-consent-container")
      }
    }
  });
}
const consent_template = `
<div class="single_consent ds-single-consent" consent_id="%consent_id%">
  <label class="form-label" style="display:block">%consent_label%</label>
  <div class="ds-data-protection-text fw-lighter">
    %consent_text%
  </div>
  <div class="form-check mt-2">
    <label class="form-check-label consent %required_field%" for="%consent_field_name%">
      %consent_checkbox_label%%required_asterisk%
    </label>
    <input id="%consent_field_name%" name="%consent_field_name%" value="" type="checkbox"
           class="form-check-input consent"
           %required%" />
  </div>
</div>
`
</script>
