

<div id="resources_menu_nav_item" class="dropdown ds-item ds-resources-menu-nav-item">
  {# the substring 'data-bs-toggle="dropdown"' is used by templates/site/resources-menu.html #}
  <button id="resources_menu_btn" class="dropdown-toggle btn ds-color-primary-level" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle" aria-hidden="true"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg><span class="ds-resource ds-name">{{ _("Resources") }}</span>
  </button>
  <ul id="resources_menu" class="dropdown-menu" aria-labelledby="resources_menu_nav_item" role="navigation">
    {% for resource in g.site.get_resources_menu() %}
    <li><a href="{{ resource[1] }}" target="_blank" rel="noopener noreferrer" class="dropdown-item">{{ resource[0] }}</a></li>
    {% endfor %}
  </ul>
</div>
