

<script src="{{ url_for('static', filename='vendor/color-wheel/reinvented-color-wheel.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/color-wheel/reinvented-color-wheel.min.css') }}">

<!-- background_color_selector_modal -->
<div class="modal modal-sm fade" id="background_color_selector_modal" tabindex="-1" role="dialog" aria-labelledby="background_color_selector_modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="background_color_selector_modalLabel">
          {{ _("Background color") }}
        </h5>
        <button type="button" data-bs-dismiss="modal" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </button>
      </div>
      <div class="modal-body">
        <div id="color_wheel_container" class="ds-color-wheel-container d-flex justify-content-center mt-2"></div>
        <label class="form-label mt-4">{{ _("HTML color code") }}</label>
        <input id="background_html_color" class="form-control" placeholder="#000000" value="{{ form.style.background_color }}" />
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" onclick="javascript:saveBackgroundColor()">{{ _("Save") }}</button>
      </div>
    </div>
  </div>
</div>

<!-- font_color_selector_modal -->
<div class="modal fade" id="font_color_selector_modal" tabindex="-1" role="dialog" aria-labelledby="font_color_selector_modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="font_color_selector_modalLabel">{{ _("Font color") }}</h5>
        <button type="button" data-bs-dismiss="modal" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </button>
      </div>
      <div class="modal-body">
        <div id="combo-list" class="grid"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _("Close") }}</button>
      </div>
    </div>
  </div>
</div>
