{% extends "base-page.html" %}

{% block content %}

<!-- try_again_soon_page -->

{% if g.embedded %}
<style>
body {
  background-color: initial !important;
}
</style>
{% endif %}

<div class="ds-error-center">
  <div class="text-center">
    <h1>{{ _("We're sorry, this form is temporarily unavailable.") }}</h1>
    <h2 class="mt-3">{{ _("Please try again soon.") }}</h2>
  </div>
</div>

{% endblock %}
