{% extends "base-frontend.html" %}

{% block content %}

<!-- public_form_page -->

{% if g.embedded %}
  <style>
  body {
    background-color: var(--lf-color-white) !important;
  }
  </style>
  {% include 'partials/view-form.html' %}
{% else %}
  <div class="grid mt-sm-4">
    <div class="g-col-12 g-col-sm-10 g-start-sm-2 g-col-md-8 g-start-md-3 g-col-lg-6 g-start-lg-4 g-col-xxl-4 g-start-xxl-5">
      {% include 'partials/view-form.html' %}
    </div>
  </div>
{% endif %}

{% endblock %}
