<!-- link_modal -->

{% set modal_id = modal_id if modal_id else "insert_link_modal" %}
{% set form_id = form_id if form_id else "insert_link_form" %}

<div class="modal fade" id="{{modal_id}}" tabindex="-1" role="dialog" aria-labelledby="insert_link_modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="insert_link_modalLabel">{{ _("Insert link") }}</h5>
        <button type="button" data-bs-dismiss="modal" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </button>
      </div>
      <form id="{{form_id}}" data-parsley-validate>
        <div class="modal-body">
          <div>
            <label for="link_text" class="form-label">{{ _("Text") }}</label>
            <input type="text" name="link_text" class="form-control" required />
          </div>
          <div class="mt-4">
            <label for="link_url" class="form-label">{{ _("URL") }}</label>
            <input type="url" class="form-control" name="link_url" required placeholder="https://" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">{{ _("Insert") }}</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _("Cancel") }}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
jQuery(function($) {
  $('#{{form_id}}').parsley().on('form:submit', function() {
    event.preventDefault();
    $(document).trigger("insert_link", ["{{form_id}}"]);
  });
  $('#{{modal_id}}').on('show.bs.modal', function() {
    let select_text = $(".CodeMirror-wrap").find(".CodeMirror-selectedtext").html()
    $("#{{form_id}}").find("input[name=link_text]").val(select_text)
  });
  $('#{{modal_id}}').on('hidden.bs.modal', function() {
    $("#{{form_id}}").find("input").val("")
    $("#{{form_id}}").parsley().reset()
  });
});
</script>
