/*
 * Classes
 *
 */

 .ds-marked-up {
   h2, h3 {
     margin-top: calc($spacer * 1.25);
   }
   img {
     max-width: 100%;
     min-width: 100%;
     height: auto;
     margin-top: calc($spacer);
     margin-bottom: calc($spacer);
   }
   blockquote {
     background: var(--lf-gray-100);
     border-left: 5px solid var(--lf-gray-300);
     margin-top: calc($spacer * 1.5);
     margin-bottom: calc($spacer * 1.5);
     padding: 0.5em 10px;
     p {
       margin-bottom: 0;
     }
   }
 }

 // Same on backend and frontend
 .ds-nav-site-name {
   font-size: 1.2em;
   padding-left: 0.8em;
 }

 // Seen on the Insert image modal
 // Same on backend and frontend
 .ds-media-thumbnail {
   cursor: pointer;
   margin: 0.2em;
 }

// Buttons to modals look and feel
// Same on backend and frontend
.ds-accions-look-and-feel {
  button {
    margin-top: calc($spacer / 2);
    width: 100%;
  }
}

// Contextual menu form
// Same on backend and frontend
.ds-contextual-menu-form {
  .nav-item {
    margin-top: calc($spacer / 2);
    width: 100%;
  }
}

.ds-single-consent {
  margin-bottom: calc($spacer * 1.5);
  label:not(.form-check-label) {
    font-weight: bold;
  }
  p {
    font-size: 0.85rem;
    margin-bottom: 0;
    font-weight: $font-weight-lighter;
  }
}

// Message errors
.ds-error-message {
  color: var(--lf-danger);
  display: block;
  font-size: $font-size-sm;
  margin-top: calc($spacer / 2);
}

// Required icon
.ds-required {
  &:after {
    color: var(--lf-danger);
    content: '*';
  }
  font-weight: 700;
}

meter {
  margin: 0 auto 1em;
  width: 100%;
  height: 0.5em;

  /* Applicable only to Firefox */
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
  border: 0;
  height: 0.5em;
  border-radius: 0px;
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: var(--lf-danger); }
meter[value="2"]::-webkit-meter-optimum-value { background: var(--lf-danger); }
meter[value="3"]::-webkit-meter-optimum-value { background: var(--lf-success); }
meter[value="4"]::-webkit-meter-optimum-value { background: var(--lf-success); }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: var(--lf-danger); }
meter[value="2"]::-moz-meter-bar { background: var(--lf-danger); }
meter[value="3"]::-moz-meter-bar { background: var(--lf-success); }
meter[value="4"]::-moz-meter-bar { background: var(--lf-success); }

.ds-password-strength-text {
  display: block;
  font-size: 0.875em;
  margin-top: -1em;
  line-height: 125% !important;
}

// ≥576px
@include media-breakpoint-up(sm) {

}

// ≥992px
@include media-breakpoint-up(lg) {

  // Buttons to modals look and feel
  // Same on backend and frontend
  .ds-accions-look-and-feel {
    button {
      margin-top: 0;
      width: auto;
    }
  }

  // Contextual menu form
  // Same on backend and frontend
  .ds-contextual-menu-form {
    .nav-item {
      margin-top: 0;
      width: auto;
    }
  }

}
