/*
 * Fonts
 *
 */

// Noto Sans
@font-face {
  font-family: 'Noto Sans';
  font-weight: 300;
  src:  url('../fonts/noto-sans/noto-sans-light.woff2') format('woff2'),
        url('../fonts/noto-sans/noto-sans-light.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  src:  url('../fonts/noto-sans/noto-sans-regular.woff2') format('woff2'),
        url('../fonts/noto-sans/noto-sans-regular.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 600;
  src:  url('../fonts/noto-sans/noto-sans-semi-bold.woff2') format('woff2'),
        url('../fonts/noto-sans/noto-sans-semi-bold.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 700;
  src:  url('../fonts/noto-sans/noto-sans-bold.woff2') format('woff2'),
        url('../fonts/noto-sans/noto-sans-bold.woff') format('woff');
}
