/*
 * Header
 *
 */

// header {
//   a {
//     text-decoration: none;
//     color: var(--lf-color-white);
//     &:hover, &:active, &:focus {
//       color: var(--lf-color-white);
//     }
//   }
// }

.navbar-brand {
  --lf-navbar-brand-font-size: .875rem;
}

.ds-main-navbar {
  .navbar-brand span {
    display: none;
  }
  .dropdown-item,
  .dropdown-toggle {
    font-size: $font-size-sm;
  }
  .dropdown-toggle {
    text-decoration: none;
    &:after {
      display: none;
    }
  }
  .ds-name {
    display: none;
  }
  .ds-color-primary-level,
  .ds-color-primary-level:hover,
  .ds-color-primary-level:active,
  .ds-color-primary-level:focus {
    /*@extend .show;*/ /* .btn.show */
    border: none;
    padding-left: .09375rem;
    padding-right: .09375rem;
    text-decoration: none;
  }
}

// Avatar
.ds-avatar {
  margin-right: calc( $spacer / 4 );
  img {
    height: 32px;
    width: 32px;
  }
}

// ≥992px
@include media-breakpoint-up(lg) {
  .ds-main-navbar {
    .navbar-brand span {
      display: initial;
    }
    .dropdown-toggle {
      &:after {
        display: inline-block;
      }
    }
    .ds-name {
      display: initial;
    }
    .ds-color-primary-level,
    .ds-color-primary-level:hover,
    .ds-color-primary-level:active,
    .ds-color-primary-level:focus {
      padding-left: .375rem;
      padding-right: .375rem;
    }
  }
}
