/* ######### formBuilder ######### */

/*
* SPDX-FileCopyrightText: 2020 LiberaForms.org
* SPDX-License-Identifier: AGPL-3.0-or-later
 */


#fb-editor .field-label {
  font-size: 1.2em;
  color: #333333;
}

/* Hide textarea's tinymce and quill editor type options */
#fb-editor li.textarea-field div.subtype-wrap {
  display:none;
}

#fb-editor input[type="file"], .rendered-form input[type="file"] {
  height: auto;
}

/* hide these field attribute in the editor */
#fb-editor .other-wrap,  #fb-editor .maxlength-wrap {
  display: none;
}

#fb-editor .form-elements label {
  font-weight: initial;
  font-size: 1.1em;
}

/* highlight non input options */
#fb-editor ul.ui-sortable [data-type=header],
#fb-editor ul.ui-sortable [data-type=paragraph] {
  background-color: #E6E6E6;
}
#fb-editor ul.ui-sortable [data-type=header]:hover,
#fb-editor ul.ui-sortable [data-type=paragraph]:hover {
  background-color: #f2f2f2;
}

/* vertical form rhythm */
.rendered-form .form-group {
  margin-bottom: 2em;
}
.rendered-form .form-field-description {
  display: block;
  font-weight: normal;
}
.rendered-form h2 {
  margin-top: 2rem;
}

/* remove tooltip */
.tooltip-element {
    display: none !important;
}

/* Align inputs and labels */
.formbuilder-checkbox label,
.formbuilder-checkbox-inline label,
.formbuilder-radio label,
.formbuilder-radio-inline label {
  font-size: 1rem;
}
.formbuilder-checkbox input,
.formbuilder-checkbox-group input {
  margin: 4px 4px 0 0 !important;
}
.formbuilder-radio input,
.formbuilder-radio-group input {
  margin: 4px 4px 0 0 !important
}
.formbuilder-checkbox-inline input {
  margin-top: 0.2em !important;
}
.formbuilder-radio-inline input {
  margin-top: 0.25em !important;
}
.formbuilder-checkbox input,
.formbuilder-checkbox-group input,
.formbuilder-radio input,
.formbuilder-radio-group input {
  float: left;
}
.formbuilder-checkbox label,
.formbuilder-checkbox-inline label,
.formbuilder-radio label,
.formbuilder-radio-inline label {
  margin-left: 26px;
  text-indent: 0px;
  display: block;
  cursor: pointer;
}
.formbuilder-checkbox-inline label,
.formbuilder-radio-inline label {
  padding-right: 0.4em;
}
#fb-editor .formbuilder-checkbox-inline label,
#fb-editor .formbuilder-radio-inline label {
  margin-left: 8px;
  text-indent: 0px;
  display: inline;
}

/* Mod required asterisk */
.required-asterisk {
  visibility: hidden;
}
.required-asterisk:after {
  content: '●';
  visibility: visible;
}
.formbuilder-required {
  visibility: hidden;
}
.formbuilder-required:after {
  color: #c10000;
  content: '●';
  visibility: visible;
}

.form-wrap.form-builder
.frmb
.form-elements
.input-wrap > input[type="checkbox"] {
  margin-top: 14px !important;
}
