/*
* SPDX-FileCopyrightText: 2020 LiberaForms.org
* SPDX-License-Identifier: AGPL-3.0-or-later
 */


html {
  position: relative;
  min-height: 100%;
  font-size: 15px;
}

body {
  color: #333333;
  Margin bottom by footer height
  margin-bottom: 25px;
}

.navbar{
  font-size: 1.3em;
}
.navbar-brand > img {
  width: 30px;
}
.nav-link {
  color: rgb(255, 255, 255, 1) !important;
  opacity: 0.925;
}
.nav-link:hover {
  opacity: 1;
}
.nav-item > a.btn {
  margin-left: 0.5em;
}
#main-content {
  margin-top: 1.5em;
}

#footer {
  color: #999;
  text-align:right;
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 25px;
}

hr { margin-top: 5px }

.returnToForm {
  font-size: 1.5em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #eee;
  margin-bottom: 0.5em;
}
.title_1 {
  font-size: 1.5em;
  margin-bottom: 1em;
}
.title_2 {
  font-size: 1.25em;
  margin-bottom: 0.65em;
}
.title_3 {
  font-size: 1.15em;
  margin-bottom: 0.4em;
}
.title_text_subtext {
   margin: -1.4rem 0 1.2rem 0;
   font-size: 0.95rem;
}
/*
.subtext-section-title {
  font-size: 1.15rem;
  border-top: 1px solid #eee;
  margin-top: 2rem;
  padding-bottom: 1rem;
}
*/
.delimited {
  border-bottom: 1px solid #eee;
  padding-bottom: 0.25em;
}
.sentTokenMessage {
  font-weight: bold;
}
.form-actions {
  margin-top:2.15em;
}
.hint {
  font-size: 1rem;
  font-style: italic;
  color: grey;
  /*margin-top: -0.8em;*/
}
.btn-xs {
  padding: .45rem .45rem;
  font-size: .875rem;
  line-height: .55;
  border-radius: .2rem;
}
.btn > i {
  margin-left: 5px;
}
.author-badge {
  font-size:0.95em;
  font-weight: 400;
}
.sparse-table tr:first-child > td {
    border-top: 0;
    padding-top: 0;
}
label {
  font-size: 1.2em;
}
.label-description {
    display: block;
    font-size: 1.08rem;
    margin: 0.5em 0 0.3em 0;
}
.custom-radio, .custom-checkbox {
    margin-bottom: 0.4em;
}
.custom-radio label {
  padding-left: 0.75em;
  cursor: pointer;
}
.custom-control-label label {
  font-size: 1em;
  margin-top:-3px;
}
input[type="date"], input[type="number"], input[type="time"] {
  width: auto !important;
}
.link {
  color:#337ab7;
  cursor:pointer;
}
.formIntroduction {

}
#embed_snippet {
  display:none;
  padding-bottom: 1.5em;
}
.highlightedText {
  color: #d9534f;
}
.marked-up {
  font-size: 1.1rem;
}
.marked-up h1, .liberaform h1 {
  margin-bottom: 2rem;
}
.marked-up h2, .liberaform h2 {
  margin-bottom: 1.2rem;
}
.marked-up h3, .liberaform h3 {
  margin-bottom: 1rem;
}
.formIntroduction {
    padding-bottom: 1em;
}
.formIntroduction img,
.afterSubmitText img,
.expiredText img,
.publishingPreview img {
  width: 100%;
}

#my_forms a > span {
    padding: 0 0.5em 0 1em;
}
/* ######### Flash messages ######### */

.flash_message {
    text-align: center;
}
.success {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #28a745;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
.info {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #17a2b8;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
.warning {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #f0ad4e;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
.error {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #dc3545;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
.flash_message .badge {
  font-size: 0.8em;
  font-weight: normal;
}
.flash_message > a {
  color: white;
  text-decoration: underline;
}



#html_email_preview {
  background: #ccc;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
  margin-top:1em;
  width: 100%;
  border: 0;
}

/* ######### WTForms ######### */
span.formError {
    color: #B94A48;
    font-size: 1rem;
    display: block;
}
/* ######## LiberaForm form ######## */

.liberaform {
  font-size: 1.1rem;
}

.liberaform p {
  margin-bottom: 1.8rem;
}

.liberaform label:empty {
  display: none;
}

.liberaform button[type=submit] {
  margin-top: 1em;
}

.liberaform .marked-up li {
  margin-left: -1.2em;
}

/* ###### Theming ###### */
.menu-color-options {
  display: flex;
  flex-wrap: wrap;
}
.menu-color-options span {
  width: 55px;
  height: 55px;
  cursor: pointer;
  color: white;
  font-size: 34px;
  text-align: center;
  vertical-align: middle;
}

input[type="file"] {
  height: auto;
}
/* ######### Consent texts ######### */
div.required {
    /* font-size: 1.05em; */
    color: #c10000;
    padding: 0 0 1em 0;
}
.dataConsentText {
/* div.consentText > #dataConsentText { */
  font-size: 0.85rem;
  color: #666;
}
label.consent {
  font-size: 1rem;
  color: #333333 !important;
  cursor: pointer;
  margin-left: 6px;
  display: block;
}
input.consent {
  margin-top: .4rem;
}
div.confirmation-group {
  margin-bottom: 2em;
}
label.send-confirmation {
  font-size: 1em;
  margin-left: 6px;
  display: block;
  margin-top: -1px;
}
label.required {
  margin-top: -0.1em;
}
span.required,
span.required-dot {
  font-size: 1.2rem;
  color: #c10000;
  padding-left: 0.25em;
}
button.newUserConsentTextToggle {
  padding-top: 0.32em;
  padding-bottom: 0.29em;
}
button.newUserConsentTextToggle > i {
  padding: 0;
}


.btn-outline-secondary {
  border-color: #c0c0c0 !important;
}
.btn-outline-secondary:hover {
  color: #303030 !important;
  background-color: #e0e0e0 !important;
}

/* ####### Modals ########## */

#edition_mode_modal p {
  font-size: 1.2em;
}
