{% extends "base-backend.html" %}
{% block content %}

<!-- form_edit_consent_page -->

{% with active_item="settings", sub_option=True %}
  {% include 'form/partials/form-context.html' %}
{% endwith %}

{% if form.consents.count() > 1 %}
  {% set go_back_url = url_for('consent_bp.list_form_data_consents', form_id=form.id) %}
{% else %}
  {% set go_back_url = url_for('form_bp.inspect_form', form_id=form.id) %}
{% endif %}

<div class="ds-narrow-container mt-2">

  <div class="grid ds-header-title-nested">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{ go_back_url }}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h2>{% if consent.id or template %}{{ _("Edit privacy statement") }}{% else %}{{ _("New privacy statement") }}{% endif %}</h2>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
    {% if consent.id %}
      <p class="mb-0">{{ _("This statement is attached to your form.") }}</p>
    {% elif template %}
        <p class="mb-0">{{ _("You are making a copy of '%(statement_name)s'.", statement_name=template.name) }}</p>
    {% else %}
      <p class="mb-0">{{ _("This statement will be attached to your form.") }}</p>
    {% endif %}
    </div>
  </div>

  {% with scope="form" %}
    {% include 'consent/partials/edit-consent.html' %}
  {% endwith %}

</div>

<script>
const inline_help_file_name = "form_dataconsent_edit.j2.md";
</script>

{% endblock %}
