{% extends "base-backend.html" %}
{% block content %}

<!-- form_editors_page -->

{% with active_item="options", sub_option=True %}
  {% include 'form/partials/form-context.html' %}
{% endwith %}

<div class="ds-narrow-container mt-2">

  <div class="grid ds-header-title-nested">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{ url_for('form_bp.form_details', form_id=form.id) }}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h2>{{ _("Editors") }}</h2>
    </div>
  </div>

  <div class="grid">
    <div class="g-col-12 mt-3">
      <p class="mb-0">
        {{ _("Users listed here have the <strong>same permissions</strong> as you.") }}
      </p>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <div class="card">
        <div class="card-body">
          <ul class="ds-list-group">
            {% for formuser in FormUser.find_all(form_id=form.id, is_editor=True) %}
            <li id="editor_{{formuser.user.id}}">
              <span>
                <span class="ds-avatar ds-avatar-sm"><img src="{{formuser.user.get_avatar_src()}}" alt="" class="rounded-circle" /></span>
                {{ formuser.user.email }}
              </span>
              <span>
                {% if form.author.id == formuser.user.id %}
                    {{ _("Author") }}
                {% else %}
                  <input class="btn btn-sm btn-danger" type="button" value="{{ _('Remove') }}"
                        onClick="javascript:removeEditor('{{formuser.user.id}}');">
                {% endif %}
              </span>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="grid mt-4">
    <div class="g-col-12">
      <div class="card">
        <div class="card-body">
          <form name="addEditor" action="{{url_for('form_bp.add_editor', form_id=form.id)}}" method="POST">
            {{ wtform.csrf_token }}
            <div class="form-group">
              <label class="form-label">{{ _("Add new editor") }}</label>
              <div class="input-group">
                <input name="email" type="email" class="form-control" required placeholder="person@example.com" aria-label="New Editor's email address" aria-describedby="button-editor" />
                <div class="input-group-append">
                  <button class="btn btn-sm btn-outline-secondary" type="submit" id="button-editor"><i data-feather="plus" width="32" height="32" stroke-width="1" aria-hidden="true"></i></button>
                </div>
              </div>
              <div class="form-text">{{ _("This person must already have an account") }}</div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
const inline_help_file_name = "form_editors.j2.md";

const parsley_options = {
  errorsContainer: function (field) {
    return $(field.element).closest(".form-group")
  }
}
$('form[name=addEditor]').parsley(parsley_options)
function removeEditor(editor_id){
  $.ajax({
    url : "/form/{{form.id}}/remove-editor/"+editor_id,
    type: "POST",
    dataType: "json",
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
    },
    success: function(data, textStatus, jqXHR)
    {
      if (data == editor_id) {
        $('#editor_'+editor_id).remove()
      }
    }
  });
}
</script>

{% endblock %}
