{% extends "base-backend.html" %}
{% block content %}

<!-- form_change_name_page -->

{% with active_item="options", sub_option=True %}
  {% include 'form/partials/form-context.html' %}
{% endwith %}

<div class="ds-narrow-container mt-2">

  <div class="grid ds-header-title-nested ds-no-border">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{ url_for('form_bp.form_details', form_id=form.id) }}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h2>{{ _("Change form name") }}</h2>
    </div>
  </div>

  <div class="grid mt-1 ds-wrapper-white">
    <div class="g-col-12">
      <form name="newFormName" method="POST" autocomplete="off">
        {{ wtform.csrf_token }}
        {{ wtform.name.label(for="new-form-name",
                              class_="form-label") }}
        {{ wtform.name(id="new-form-name",
                        class_="form-control") }}
        {% for error in wtform.name.errors %}
          <span class="wtf-error ds-error-message">{{ error }}</span>
        {% endfor %}
        <div class="mt-4">
          <p class="mb-0">{{ _("The form's public URL will not be changed.") }}</p>
          <p class="mb-0"><code>{{ form.url }}</code></p>
          <button type="submit" class="btn btn-primary mt-4">{{ _("Save") }}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
const inline_help_file_name = "form_changename.j2.md";

$(function () {
  $('form[name=newFormName]').parsley().on('field:validate', function(field) {
    $(field.element).closest('div').find('.wtf-error').remove()
  })
});
</script>

{% endblock %}
