{% extends "base-backend.html" %}
{% block content %}

<!-- form_readers_page -->

{% with active_item="options", sub_option=True %}
  {% include 'form/partials/form-context.html' %}
{% endwith %}

<div class="ds-narrow-container mt-2">

  <div class="grid ds-header-title-nested">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{ url_for('form_bp.form_details', form_id=form.id) }}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h2>{{ _("Share answers") }}</h2>
    </div>
  </div>

  <div class="grid mt-3 mb-3">
    <div class="g-col-12">
      <p class="mb-0">{{ _("Users listed here can read this form's answers.") }}</p>
    </div>
  </div>

  {% set form_users = FormUser.find_all(form_id=form.id, is_editor=False) %}
  {% if form_users.count() > 0 %}
  <div id="reader_list" class="grid mt-3 mb-4 ds-wrapper-white">
    <div class="g-col-12">
      <ul class="ds-list-group">
        {% for formuser in form_users %}
        <li id="reader_{{formuser.user.id}}">
          <span>
            <span class="ds-avatar"><img src="{{formuser.user.get_avatar_src()}}" alt="" class="rounded-circle" /></span>
            {{ formuser.user.email }}
          </span>
          <span>
            <input class="btn btn-sm btn-danger" type="button" value="{{ _('Remove') }}" onClick="javascript:removeReader('{{formuser.user.id}}');" />
          </span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  {% if invites %}
  <div class="card mt-3 mb-4">
    <div class="card-header">
      <h2>{{ _("Pending invitations") }}</h2>
    </div>
    <div class="card-body pb-0">
      <div class="table-responsive">
        <table class="table table-sm align-middle">
          <thead class="">
            <tr>
              <th>{{ _("Sending date") }}</th>
              <th>{{ _("Email") }}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for invite in invites %}
            <tr>
              <td>{{ invite.last_sent }}</td>
              <td>{{ invite.email }}</td>
              <td align="right">
                <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#message-{{invite.id}}">
                  {{ _("Show") }}
                </button>
                <button id="send_again" type="button" class="btn btn-sm btn-outline-primary" onclick="sendEmail({{invite.id}})">
                  {{ _("Send again") }}
                </button>
                <a class="btn btn-sm btn-danger" role="button" href="{{url_for('form_bp.delete_invite', invite_id=invite.id)}}">{{ _("Delete") }}</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <form name="sendEmailForm" action="{{url_for('form_bp.send_invite_again')}}" method="POST">
          <input name="csrf_token" type="hidden" value="{{ csrf_token() }}" />
          <input name="invite_id" type="hidden" />
        </form>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="grid mt-3 ds-wrapper-white">
    <div class="g-col-12">
      <form name="addReader" action="{{ url_for('form_bp.add_reader', form_id=form.id) }}" method="POST">
        {{ wtform.csrf_token }}
        <div class="form-group">
          <label class="form-label">{{ _("Add a person") }}</label>
          <div class="input-group">
            <input name="email" type="email" class="form-control" required placeholder="person@example.com" aria-label="An email" aria-describedby="button-editor">
            <div class="input-group-append">
              <button class="btn btn-sm btn-outline-secondary" type="submit" id="button-editor"><i data-feather="plus" width="32" height="32" stroke-width="1" aria-hidden="true"></i></button>
            </div>
          </div>
          <div class="wtf-error ds-error-message"></div>
        </div>
      </form>
    </div>
  </div>
</div>

{% include 'common/invitation-msg-modals.html' %}

{% if invitation_email %}
<div class="modal fade" id="user_not_found_modal" tabindex="-1" role="dialog" aria-labelledby="not_found_modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="not_found_modalLabel">{{invitation_email}}</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="{{ _('Cancel') }}">
          <i data-feather="x" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ _("We can't find a user with that email address.") }}</p>
        <p>{{ _("Do you want to send an invitation to %(email)s?", email = invitation_email) }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">{{ _("No thanks") }}</button>
        <a role="button" type="button" class="btn btn-primary"
           href="{{url_for('form_bp.new_invite', form_id=form.id, email=invitation_email)}}">
            {{ _("Yes") }}
        </a>
      </div>
    </div>
  </div>
</div>
{% endif %}

<script>
const inline_help_file_name = "form_shareanswers.j2.md";
var readers_count = {{form_users.count()}}

const parsley_options = {
  errorsContainer: function (field) {
    return $(field.element).closest(".form-group")
  }
}
$('form[name=addReader]').parsley(parsley_options)

{% if invitation_email %}
$(document).ready(function(){
  $('#user_not_found_modal').modal('show');
});
{% endif %}
function removeReader(reader_id){
  $.ajax({
    url : "/form/{{form.id}}/remove-reader/"+reader_id,
    type: "POST",
    dataType: "json",
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
    },
    success: function(data, textStatus, jqXHR)
    {
      if (data == reader_id) {
        $('#reader_'+reader_id).remove();
        readers_count = readers_count-1
      }
      if (readers_count == 0) {
        $('#reader_list').hide()
      }
    }
  });
}
function sendEmail(invite_id) {
  $("#send_again").prop("disabled", true)
  $("input[name=invite_id]").val(invite_id)
  $("form[name=sendEmailForm]").submit()
}
</script>

{% endblock %}
