{% extends "base-backend.html" %}
{% block content %}

<!-- form_list_consents_page -->

{% with active_item="settings", sub_option=True %}
  {% include 'form/partials/form-context.html' %}
{% endwith %}


<div class="ds-narrow-container">

  <div class="grid ds-header-title-nested mt-2">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{url_for('form_bp.inspect_form', form_id=form.id)}}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h2>{{ _("Attached privacy statements") }}</h2>
    </div>
  </div>

  <div class="grid my-3">
    <div class="g-col-12">
      <p class="mb-0">{{ _("Add and remove statements to this form.") }}</p>
    </div>
  </div>

  <div id="enabled-consents">
  {% for consent in enabled_consents %}
    <div id="enabled-consent-{{consent.id}}" class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h2>{{ consent.name }}</h2>
        {% if not consent.enforced %}
        <div>
          <button class="btn btn-sm btn-danger" onclick="javascript:removeConsent({{consent.id}})">{{ _("Remove") }}</button>
          <button class="btn btn-sm btn-outline-primary" onclick="javascript:editConsent({{consent.id}}, {{consent.is_copy|tojson}}, {{consent.form_id|tojson}})">{{ _("Edit") }}</button>
        </div>
        {% endif -%}
      </div>
      <div class="card-body pb-0">
        {% include 'consent/partials/consent.html' %}
      </div>
    </div>
  {% endfor -%}
  </div>

  <div class="grid mt-3">
    <div class="g-col-12 ds-wrapper-white">
      <label class="form-label" for="selected-available-consent">{{ _("Select from the list below and add") }}</label>
      <div class="input-group">
        <select id="selected-available-consent" class="form-select">
          <option value="0"></option>
          {% for consent in available_consents -%}
          <option id="available-consent-{{consent[0]}}" value="{{consent[0]}}">{{ consent[1] }}</option>
          {% endfor -%}
        </select>
        <button class="btn btn-sm btn-outline-secondary" onclick="javascript:addEnabledConsent()">{{ _("Add") }}</button>
      </div>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <a href="{{url_for('consent_bp.wizard_for_form', form_id=form.id)}}">{{ _("Create a new statement for this form")}}</a>
    </div>
  </div>
</div>

<script>
const inline_help_file_name = "form_dataconsents.j2.md";
{% include 'form/js/edit_and_remove_consent.js' %}
function addEnabledConsent() {
  consent_id = $("#selected-available-consent").val()
  if (consent_id == 0) {
    return
  }
  $.ajax({
    url : "{{ url_for('consent_bp.link_consent_to_form', form_id=form.id) }}",
    type: "POST",
    dataType: "json",
    data: {"consent_id": consent_id},
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    },
    success: function(data, textStatus, jqXHR)
    {
      if (data.consent && data.html) {
        addConsentToDisplay(data.consent, data.html)
      }
    }
  });
}
function addConsentToDisplay(consent, html) {
  var template = consent_template.replace(/%consent_id%/g, consent.id)
                                 .replace(/%is_copy%/, consent.is_copy)
                                 .replace(/%form_id%/, consent.form_id)
                                 .replace(/%consent_name%/, consent.name)
                                 .replace(/%card_body%/, html)
  if (consent.enforced == true) {
    template = template.replace(/%hide_options%/, "display:none")
  } else {
    template = template.replace(/%hide_options%/g, "")
  }
  $('#enabled-consents').append(template);
  feather.replace();
}

const consent_template = `
<div id="enabled-consent-%consent_id%" class="card mb-4">
  <div class="card-header d-flex align-items-center justify-content-between">
    <h2>%consent_name%</h2>
    <div style="%hide_options%">
      <button class="btn btn-sm btn-danger" onclick="javascript:removeConsent(%consent_id%)">{{ _("Remove") }}</button>
      <button class="btn btn-sm btn-outline-primary" onclick="javascript:editConsent(%consent_id%, %is_copy%, %form_id%)">{{ _("Edit") }}</button>
    </div>
  </div>
  <div class="card-body pb-0">
    %card_body%
  </div>
</div>
`
</script>

{% endblock %}
