{% extends "base-backend.html" %}
{% block content %}

<!-- new_form_page -->


<div class="ds-narrow-container">

  <div class="grid ds-header-title">
    <div class="g-col-12 ds-title d-flex align-items-center justify-content-between">
      <h1>{{ _("New form") }}</h1>
      <a href="{{url_for('form_bp.list_templates')}}" class="btn btn-sm btn-outline-primary">{{ _("Form templates") }}</a>
    </div>
  </div>

  <div class="mt-3">{% if form_source_msg %}{{form_source_msg}}.{% else %}{{ _("Your new form starts here.") }}{% endif %}</div>

  <div class="grid mt-3 ds-wrapper-white">
    <div class="g-col-12">
      <form name="newForm" method="POST">
      {{ wtform.csrf_token }}
        <div class="form-group">
          {{ wtform.name.label(for="name", class_="form-label") }}
          {{ wtform.name(id="name", class_="form-control", autocomplete="off") }}
          {% for error in wtform.name.errors %}
            <span class="wtf-error ds-error-message">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="mt-4">
          <input id="commit_name" class="btn btn-primary" type="button" onclick="commitName()" value="{{ _('Save') }}" />
        </div>

        <div id="slug_selector" style="display:none" class="mt-4">
          <div class="form-group">
            {{ wtform.slug.label(for="slug", class_="form-label") }}
            <div class="input-group">
              <span class="input-group-text">{{ config['BASE_URL'] }}/</span>
              {{ wtform.slug(id="slug", class_="form-control", autocomplete="off") }}
            </div>
            <div class="form-text">{{ _("You may edit the URL") }}</div>
            <div id="ajax_slug_error" class="wtf-error ds-error-message"></div>
          </div>
          <div class="mt-4">
            <input id="submit_button" class="btn btn-primary" onclick="submitForm()" type="button" value="{{ _('Use this address') }}" />
          </div>
        </div>
      </form>
    </div>
  </div>

</div>

<script>
const inline_help_file_name = "form_new.j2.md";
let form = $('form[name=newForm]')
function clearAjaxSlugErrors() {
  $("#submit_button").prop("disabled", false)
  $("#ajax_slug_error").html("")
  $("#slug").css("color", "initial")
}
$(document).ready(function() {
  const parsley_options = {
    errorsContainer: function (field) {
      return $(field.element).closest(".form-group")
    }
  }
  form.parsley(parsley_options).on('field:validate', function(field) {
    $(field.element).closest('.form-group').find('.wtf-error').hide()
  })

  $("#name").on("focus", function() {
    clearAjaxSlugErrors()
    $("#slug_selector").hide()
    $("#commit_name").show()
  });
  $("#slug").on("keydown", function() {
    clearAjaxSlugErrors()
  });
  $("#slug").on("paste", function() {
    clearAjaxSlugErrors()
  });
});

function commitName() {
  $("#commit_name").hide()
  $("#slug").val($("#name").val())
  let is_valid = form.parsley().validate()
  if (is_valid) {
    checkSlug().then(function(data) {
      $('#slug').val(data.slug);
      $("#slug_selector").show()
    });
  }
}
function submitForm() {
  let is_valid = form.parsley().validate()
  if (is_valid) {
    checkSlug().then(function(data) {
      $('#slug').val(data.slug);
      if (data.available == true) {
        $("form[name=newForm]").submit()
      }
      if (data.error_msg !== undefined) {
        $('#ajax_slug_error').html(data.error_msg)
        $('#ajax_slug_error').show()
        $("#slug").css("color", "red")
      }
    });
  }
}
function checkSlug() {
  return new Promise(function(resolve, reject) {
    $('#slug_not_available').hide()
    $.ajax({
      url : "{{url_for('form_bp.is_slug_available')}}",
      type: "POST",
      data : {'slug': $('#slug').val()},
      dataType: "json",
      beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
      },
      success: function(data, textStatus, jqXHR) {
        $("#slug").val(data.slug)
        resolve(data) // Resolve promise and goto then()
      },
      error: function(err) {
        reject(err) // Reject the promise and goto catch()
      }
    });
  });
}
</script>

{% endblock %}
