{% extends "base-backend.html" %}
{% block content %}

<!-- user_change_timezone_page -->

<script src="/static/vendor/bs5-autocomplete/autocomplete.js"></script>

<div class="ds-narrow-container">
  <div class="grid ds-header-title">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{url_for('user_bp.user_settings', username=current_user.username)}}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h1>{{ _("Your time zone") }}</h1>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <p class="mb-0">{{ _("Display dates and times adjusted to your geographic location.") }}</p>
    </div>
  </div>

  <div class="grid mt-3 ds-wrapper-white">
    <div class="g-col-12">
      <form method="POST">
        {{ wtform.csrf_token }}
        {{ wtform.timezone.label(for="select_timezone",class_="form-label" ) }}
        <input id="select_timezone" type="text" name="timezone" class="form-control" autocomplete="off" placeholder="{{ _('Search for country or city name') }}" aria-label="{{ _('Time zone') }}" aria-describedby="timezone" />
        {% for error in wtform.timezone.errors %}
          <span class="wtf-error ds-error-message">{{ error }}</span>
        {% endfor %}
        <div class="mt-4">
          <input class="btn btn-primary" type="submit" value="{{ _('Save') }}">
        </div>
      </form>
    </div>
  </div>
</div>

<script>
const inline_help_file_name = "user_changetimezone.j2.md";
const field = document.getElementById('select_timezone');
new Autocomplete(field, {
    data: {{ timezones|tojson }},
    label: null,
    value: null,
    maximumItems: 5,
    threshold: 1
});
</script>

{% endblock %}
