{% extends "base-backend.html" %}
{% block content %}

<!-- change_email_page -->

<div class="ds-narrow-container">
  <div class="grid ds-header-title">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="/user/{{ current_user.username }}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h1>{{ _("Change email address") }}</h1>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <p class="mb-0">{{ _("We will send you a link to this new address.") }}</p>
    </div>
  </div>

  <div class="grid mt-3 ds-wrapper-white">
    <div class="g-col-12">
      <form name="changeEmailForm" autocomplete="off" method="POST">
        {{ wtform.csrf_token }}
        <div>
          {{ wtform.email.label( for="email",
                                class_="form-label" )
          }}
          {{ wtform.email(class_="form-control") }}
          {% for error in wtform.email.errors %}
            <span class="wtf-error ds-error-message">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="mt-4">
          <input class="btn btn-primary" type="submit" value="{{ _('Save') }}" />
        </div>
      </form>
    </div>
  </div>
</div>

<script>
const inline_help_file_name = "user_changeemail.j2.md";
$(function () {
  $('form[name=changeEmailForm]').parsley().on('field:validate', function(field) {
    $(field.element).closest('div').find('.wtf-error').remove()
  })
})
</script>

{% endblock %}
